flows_rockpi-4b.json
[{"id":"55457475.6bd30c","type":"tab","label":"Chirpstack Uplink - Influx","disabled":false,"info":""},{"id":"a8d01404.c43d58","type":"tab","label":"Chirpstack Downlink","disabled":false,"info":""},{"id":"896bf2ea.746d","type":"tab","label":"Device Status","disabled":false,"info":""},{"id":"20e8a603.85b77a","type":"tab","label":"Device Settings","disabled":false,"info":""},{"id":"b04f6033.e870c","type":"tab","label":"GPS","disabled":false,"info":""},{"id":"3743ed98.251572","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ad70b434.09f4b8","type":"mqtt-broker","z":"","name":"Chirpstack - SP NL","broker":"localhost","port":"7778","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"38958189.77f73e","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"SmartParks","name":"","usetls":false,"tls":""},{"id":"30ca35fe.f657da","type":"mqtt-broker","z":"","name":"Chirpstack - SP NL","broker":"localhost","port":"7778","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"670bb53.2edcb4c","type":"ui_group","z":"","name":"Downlinks","tab":"3a9c8f33.7e6c7","order":2,"disp":true,"width":"6","collapse":true},{"id":"1958534c.48265d","type":"ui_group","z":"","name":"Device","tab":"3a9c8f33.7e6c7","order":1,"disp":true,"width":"6","collapse":false},{"id":"3a9c8f33.7e6c7","type":"ui_tab","z":"","name":"Downlinks","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"d43f15ee.92bde8","type":"ui_group","z":"","name":"Device","tab":"5b4a3d43.af90c4","order":1,"disp":true,"width":"6","collapse":false},{"id":"2ef03844.2a5848","type":"ui_group","z":"","name":"Status","tab":"5b4a3d43.af90c4","order":2,"disp":true,"width":"6","collapse":true},{"id":"5b4a3d43.af90c4","type":"ui_tab","z":"","name":"Device Status","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"48625b46.346224","type":"ui_group","z":"","name":"Device","tab":"ecfeb62f.fc3a28","order":1,"disp":true,"width":"6","collapse":false},{"id":"16557158.35e41f","type":"ui_group","z":"","name":"Payload","tab":"ecfeb62f.fc3a28","order":4,"disp":true,"width":"6","collapse":true},{"id":"deed6a8.a5b8798","type":"ui_group","z":"","name":"Set Settings","tab":"ecfeb62f.fc3a28","order":3,"disp":true,"width":"6","collapse":true},{"id":"1c24b410.22178c","type":"mqtt-broker","z":"","name":"Chirpstack - SP NL","broker":"localhost","port":"7778","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e72ee3ed.e1e46","type":"ui_group","z":"","name":"Device Settings","tab":"ecfeb62f.fc3a28","order":2,"disp":true,"width":"6","collapse":true},{"id":"ecfeb62f.fc3a28","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"b6a0f981.c38488","type":"ui_group","z":"","name":"GPS","tab":"f8da84a9.9e8208","order":2,"disp":true,"width":"6","collapse":false},{"id":"1ab1856e.16b7eb","type":"ui_group","z":"","name":"Device","tab":"f8da84a9.9e8208","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8da84a9.9e8208","type":"ui_tab","z":"","name":"GPS","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"b15b0f41.ee3fe","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"db4d80c5.8a076","type":"ui_group","z":"","name":"Live Uplink viewer","tab":"f6f50d5c.d48cf","order":2,"disp":true,"width":"6","collapse":false},{"id":"f6f50d5c.d48cf","type":"ui_tab","z":"","name":"Uplink","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"f06e9f9b.f62f8","type":"ui_group","z":"","name":"Device","tab":"66f68e31.25ecb","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ede5f74.f0423","type":"ui_group","z":"","name":"Status","tab":"66f68e31.25ecb","order":2,"disp":true,"width":"6","collapse":true},{"id":"66f68e31.25ecb","type":"ui_tab","z":"","name":"Device Status","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"694f81f4.66cff","type":"mqtt-broker","z":"","name":"Chirpstack - SP NL","broker":"localhost","port":"7778","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"67c481f0.afd28","type":"ui_group","z":"","name":"Live Uplink viewer","tab":"ce1b06d9.508218","order":2,"disp":true,"width":"6","collapse":false},{"id":"ddef5a99.783fb8","type":"ui_group","z":"","name":"Downlinks","tab":"c68cc13a.74e27","order":2,"disp":true,"width":"6","collapse":true},{"id":"4cc163ee.8909dc","type":"ui_group","z":"","name":"Device","tab":"c68cc13a.74e27","order":1,"disp":true,"width":"6","collapse":false},{"id":"53035385.07418c","type":"ui_group","z":"","name":"Device","tab":"7e0d04ed.b781dc","order":1,"disp":true,"width":"6","collapse":false},{"id":"8ac3b52a.7851a8","type":"ui_group","z":"","name":"Status","tab":"7e0d04ed.b781dc","order":2,"disp":true,"width":"6","collapse":true},{"id":"49e6cf21.02a3c","type":"ui_group","z":"","name":"Historie","tab":"7e0d04ed.b781dc","order":5,"disp":true,"width":"6","collapse":true},{"id":"5e58ef3b.9d907","type":"ui_group","z":"","name":"GPS Status","tab":"7e0d04ed.b781dc","order":4,"disp":true,"width":"6","collapse":true},{"id":"b5cdf345.31e33","type":"ui_group","z":"","name":"Last seen","tab":"7e0d04ed.b781dc","order":3,"disp":true,"width":"6","collapse":true},{"id":"3b025da1.f36612","type":"ui_group","z":"","name":"Device","tab":"7129031e.36d37c","order":1,"disp":true,"width":"6","collapse":false},{"id":"5a01adaa.428694","type":"ui_group","z":"","name":"Payload","tab":"7129031e.36d37c","order":4,"disp":true,"width":"6","collapse":true},{"id":"e1a2c4.c3e30d4","type":"ui_group","z":"","name":"Set Settings","tab":"7129031e.36d37c","order":3,"disp":true,"width":"6","collapse":true},{"id":"97a76a8.2b2ef98","type":"ui_group","z":"","name":"Device Settings","tab":"7129031e.36d37c","order":2,"disp":true,"width":"6","collapse":true},{"id":"2e368250.2c6f3e","type":"ui_group","z":"","name":"History","tab":"d96a1509.762128","order":5,"disp":true,"width":"6","collapse":true},{"id":"3fdc6031.e1328","type":"ui_group","z":"","name":"GPS","tab":"d96a1509.762128","order":2,"disp":true,"width":"6","collapse":false},{"id":"7ec922d.0504bdc","type":"ui_group","z":"","name":"Advanced","tab":"d96a1509.762128","order":6,"disp":true,"width":"6","collapse":true},{"id":"62b9c2b5.af9f9c","type":"ui_group","z":"","name":"Device","tab":"d96a1509.762128","order":1,"disp":true,"width":"6","collapse":false},{"id":"371e44a5.5f2ecc","type":"ui_group","z":"","name":"Geoloc","tab":"d96a1509.762128","order":4,"disp":true,"width":"6","collapse":true},{"id":"958a5d80.c6583","type":"ui_group","z":"","name":"Last seen","tab":"d96a1509.762128","order":3,"disp":true,"width":"6","collapse":true},{"id":"ce1b06d9.508218","type":"ui_tab","z":"","name":"Uplink","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"c68cc13a.74e27","type":"ui_tab","z":"","name":"Downlinks","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"7e0d04ed.b781dc","type":"ui_tab","z":"","name":"Device Status","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7129031e.36d37c","type":"ui_tab","z":"","name":"Settings","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"d96a1509.762128","type":"ui_tab","z":"","name":"GPS","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"6b04fb87.246e04","type":"mqtt in","z":"55457475.6bd30c","name":"Uplink Events","topic":"application/7/device/+/rx","qos":"2","datatype":"json","broker":"b15b0f41.ee3fe","x":210,"y":140,"wires":[["818bbc68.488bc","50666206.3e903c"]]},{"id":"818bbc68.488bc","type":"json","z":"55457475.6bd30c","name":"Convert ObjectJSON","property":"payload.objectJSON","action":"","pretty":false,"x":440,"y":140,"wires":[["987396e6.60d528","30728ee6.966512"]]},{"id":"987396e6.60d528","type":"function","z":"55457475.6bd30c","name":"Prepare payload messages","func":"//function to store EUI as hex string\nlet encoded = msg.payload.devEUI;\nhexEUI = Buffer.from(encoded, \"base64\").toString(\"hex\");\n\n// function to get gateway data\nvar arr = [];\nfor (i = 0; i < msg.payload.rxInfo.length; i++)\n{\n    arr.push(msg.payload.rxInfo[i].rssi)\n}\nmax_rssi = Math.max(...arr);\n\n// First object will be written in fields,\n// second one in tags\n\nif(msg.payload.fPort == 1)\n{\n    //Message structure for port 1 messages\n    msg.payload = [{\n    name:           msg.payload.deviceName,\n    eui:            hexEUI,\n    alt:            msg.payload.objectJSON.alt,\n    epe:            msg.payload.objectJSON.epe,\n    hdop:           msg.payload.objectJSON.hdop,\n    lat:            msg.payload.objectJSON.lat,\n    lon:            msg.payload.objectJSON.lon,\n    lux:            msg.payload.objectJSON.lux,\n    motion:         msg.payload.objectJSON.motion,\n    port:           msg.payload.fPort,\n    dr:             msg.payload.dr,\n    adrn:           msg.payload.adr,\n    fCnt:           msg.payload.fCnt,\n    rssi:           max_rssi,\n    satellites:     msg.payload.objectJSON.satellites,\n    snr:            msg.payload.objectJSON.snr,\n    time_to_fix:    msg.payload.objectJSON.time_to_fix\n    },\n    { \n        devId: msg.payload.deviceName\n    }]\n}\nelse if(msg.payload.fPort == 12)\n{\n    //Message structure for port 1 messages\n    msg.payload = [{\n    name:                   msg.payload.deviceName,\n    eui:                    hexEUI,\n    battery:                msg.payload.objectJSON.battery,\n    battery_low:            msg.payload.objectJSON.battery_low,\n    port:                   msg.payload.fPort,\n    dr:                     msg.payload.dr,\n    adrn:                   msg.payload.adr,\n    fCnt:                   msg.payload.fCnt,\n    rssi:                   max_rssi,\n    resetCause:             msg.payload.objectJSON.resetCause,\n    accelerometer_error:    msg.payload.objectJSON.system_functions_errors.accelerometer_error,\n    gps_fix_error:          msg.payload.objectJSON.system_functions_errors.gps_fix_error,\n    gps_periodic_error:     msg.payload.objectJSON.system_functions_errors.gps_periodic_error,\n    gps_triggered_error:    msg.payload.objectJSON.system_functions_errors.gps_triggered_error,\n    gps_on_time_total:      msg.payload.objectJSON.gps_on_time_total,\n    //humidity_error:         msg.payload.objectJSON.system_functions_errors.humidity_error,\n    charging_status:        msg.payload.objectJSON.system_functions_errors.charging_status,\n    //pressure_error:         msg.payload.objectJSON.system_functions_errors.charging_error,\n    //temperature_error:      msg.payload.objectJSON.system_functions_errors.temperature_error,\n    temperature:            msg.payload.objectJSON.temperature,\n    accelx:                 msg.payload.objectJSON.accelx,\n    accely:                 msg.payload.objectJSON.accely,\n    accelz:                 msg.payload.objectJSON.accelz,\n    //lat:                    msg.payload.objectJSON.lat,\n    //lon:                    msg.payload.objectJSON.lon,\n    //time_to_fix:            msg.payload.objectJSON.time_to_fix,\n    gps_resend:             msg.payload.objectJSON.gps_resend\n    },\n    { \n        devId: msg.payload.deviceName\n    }]\n}\nelse if(msg.payload.fPort == 2)\n{\n    //Message structure for port 2 messages\n    msg.payload = [{\n    battery:                msg.payload.objectJSON.battery,\n    battery_low:            msg.payload.objectJSON.battery_low,\n    port:                   msg.payload.fPort,\n    dr:                     msg.payload.dr,\n    adrn:                   msg.payload.adr,\n    fCnt:                   msg.payload.fCnt,\n    rssi:                   max_rssi,\n    resetCause:             msg.payload.objectJSON.resetCause,\n    accelerometer_error:    msg.payload.objectJSON.system_functions_errors.accelerometer_error,\n    gps_fix_error:          msg.payload.objectJSON.system_functions_errors.gps_fix_error,\n    gps_periodic_error:     msg.payload.objectJSON.system_functions_errors.gps_periodic_error,\n    gps_triggered_error:    msg.payload.objectJSON.system_functions_errors.gps_triggered_error,\n    humidity_error:         msg.payload.objectJSON.system_functions_errors.humidity_error,\n    light_error:            msg.payload.objectJSON.system_functions_errors.light_error,\n    pressure_error:         msg.payload.objectJSON.system_functions_errors.pressure_error,\n    temperature_error:      msg.payload.objectJSON.system_functions_errors.temperature_error,\n    temperature:            msg.payload.objectJSON.temperature,\n    vbus:                   msg.payload.objectJSON.vbus\n    },\n    { \n        devId: msg.payload.deviceName\n    }]\n}\nelse if(msg.payload.fPort == 3)\n{\n    //Message structure for port 3 messages\n    msg.payload = [{\n    name:                   msg.payload.deviceName,\n    eui:                    hexEUI,\n    port:                   msg.payload.fPort,\n    dr:                     msg.payload.dr,\n    adrn:                   msg.payload.adr,\n    fCnt:                   msg.payload.fCnt,\n    rssi:                   max_rssi,\n    //gps_settings\n\tgps_min_ehpe:\t\t\tmsg.payload.objectJSON.gps_min_ehpe,\n\td3_fix:                \tmsg.payload.objectJSON.gps_settings.d3_fix,\n    hot_fix:            \tmsg.payload.objectJSON.gps_settings.hot_fix,\n    fail_backoff:           msg.payload.objectJSON.gps_settings.fail_backoff,\n    fully_resolved:         msg.payload.objectJSON.gps_settings.fully_resolved,\n    gps_charge_min:    \t\tmsg.payload.objectJSON.gps_charge_min,\n    gps_fail_retry:\t\t\tmsg.payload.objectJSON.gps_fail_retry,\n\tgps_min_fix_time:\t\tmsg.payload.objectJSON.gps_min_fix_time,\n\t//system_functions:\n\tgps_hot_fix:\t\t\tmsg.payload.objectJSON.system_functions.gps_hot_fix,\n\tgps_periodic:\t\t\tmsg.payload.objectJSON.system_functions.gps_periodic,\n\tgps_triggered: \t\t\tmsg.payload.objectJSON.system_functions.gps_triggered,\n\tlight_enabled: \t\t\tmsg.payload.objectJSON.system_functions.light_enabled,\n\tcharging_enabled: \t\tmsg.payload.objectJSON.system_functions.charging_enabled,\n\thumidity_enabled: \t\tmsg.payload.objectJSON.system_functions.humidity_enabled,\n\ttemperature_enabled: \tmsg.payload.objectJSON.system_functions.temperature_enabled,\n\taccelerometer_enabled:\tmsg.payload.objectJSON.system_functions.accelerometer_enabled,\n\tgps_hot_fix_retry:\t\tmsg.payload.objectJSON.gps_hot_fix_retry,\n\tsystem_charge_max:\t\tmsg.payload.objectJSON.system_charge_max,\n\tsystem_charge_min: \t\tmsg.payload.objectJSON.system_charge_min,\n\tgps_cold_fix_retry: \tmsg.payload.objectJSON.gps_cold_fix_retry,\n\tgps_hot_fix_timeout: \tmsg.payload.objectJSON.gps_hot_fix_timeout,\n\tgps_cold_fix_timeout: \tmsg.payload.objectJSON.gps_cold_fix_timeout,\n\t//lorawan_datarate_adr: \n\tadr: \t\t\t\t\tmsg.payload.objectJSON.lorawan_datarate_adr.adr,\n\tdatarate: \t\t\t\tmsg.payload.objectJSON.lorawan_datarate_adr.datarate,\n\tconfirmed_uplink:\t\tmsg.payload.objectJSON.lorawan_datarate_adr.confirmed_uplink,\n\tgps_periodic_interval: \tmsg.payload.objectJSON.gps_periodic_interval,\n\tgps_triggered_duration: msg.payload.objectJSON.gps_triggered_duration,\n\tgps_triggered_interval: msg.payload.objectJSON.gps_triggered_interval,\n\tsystem_status_interval: msg.payload.objectJSON.system_status_interval,\n\tgps_triggered_threshold:msg.payload.objectJSON.gps_triggered_threshold,\n\tsystem_input_charge_min:msg.payload.objectJSON.system_input_charge_min, \n\tsystem_voltage_interval:msg.payload.objectJSON.system_voltage_interval\n    },\n    { \n        devId: msg.payload.deviceName\n    }]\n}\nelse if(msg.payload.fPort == 11)\n{\n    //For this port message we have to read 5 different locations, \n    //each one with its own timestamp, format it and sent it into Influxdb node. \n    //Influxdb enables us to write several points at once,\n    //as seen on node-red documentation website \n    //  https://flows.nodered.org/node/node-red-contrib-influxdb) \n\n    // If msg.payload is an array of arrays, it will be written as a series of points containing fields and tags.\n\n    //That means that we need 5 arrays, each will contain two objects. \n    // First object will contain value fields that we would like to write (lat and lon in this case), \n    // second object will contain dev id as usual.\n    // We also need time value in first object because each lat and lon pair has different timestamps.\n    // Injected epoch timestamp needs to be 19 digits in order to work with Grafana.\n\n    // Below code creates functionality that is described above:\n\n    \n    // Locations actualy contains a string not an js object so we need to parse it first.\n    var parsed_locations = JSON.parse(msg.payload.objectJSON.locations)\n    \n    var device_id = msg.payload.deviceName\n    \n    var parsed_port = msg.payload.fPort\n    \n    //clear up payload, we will get our data from payload_fields\n    msg.payload = []\n    \n    //iterate through payload_fields, there should be only 5 packets, but we can make this universal\n    for (i = 0; i < parsed_locations.length; i++)\n    {\n       \n        // Make sure that time is correct length so that grafana accepts it\n        var epoch_number = parsed_locations[i].time\n        var epoch_length = epoch_number.toString().length\n        var power_of_ten = 19 - epoch_length\n        var correct_grafana_epoch = epoch_number * Math.pow(10, power_of_ten)\n\n        //fill up packet that we will push into our msg.payload object\n        var lat_lon_packet = [{\n            name:   msg.payload.deviceName,\n            eui:    hexEUI,\n            port:   parsed_port,\n            lat:    parsed_locations[i].lat,\n            lon:    parsed_locations[i].lon,\n            time:   correct_grafana_epoch\n            },\n        {\n           devId: msg.payload.deviceName\n        }]\n        \n        msg.payload.push(lat_lon_packet)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":140,"wires":[["8f40ed2d.e255f"]]},{"id":"8f40ed2d.e255f","type":"function","z":"55457475.6bd30c","name":"Drop bad gps","func":"if(msg.payload.fPort == 11)\n{\n    for (i = 0; i < msg.payload.length; i++)\n    {\n        if(msg.payload[i].lat === 0  || msg.payload[i].lon === 0)\n        {\n            delete msg.payload[i].lat;\n            delete msg.payload[i].lon;\n        }\n    }\n}\nelse\n{\n    if(msg.payload[0].lat === 0  || msg.payload[0].lon === 0 || msg.payload[0].time_to_fix === 0|| msg.payload[0].epe === 0 )\n    {\n        delete msg.payload[0].lat;\n        delete msg.payload[0].lon;\n        delete msg.payload[0].time_to_fix;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":140,"wires":[["2b8ade7a.47d132","2360c2a4.b05f9e","5f70b125.554c1","ee4a4b48.dd8238","1de1755a.99cdfb"]]},{"id":"2b8ade7a.47d132","type":"influxdb out","z":"55457475.6bd30c","influxdb":"38958189.77f73e","name":"Chirpstack","measurement":"datapackets","precision":"","retentionPolicy":"","x":1170,"y":140,"wires":[]},{"id":"1bc6517e.fc9a2f","type":"comment","z":"55457475.6bd30c","name":"This flow subscribes to the OpenCollar mqtt stream of Chirpstack and stores them into an Influx database","info":"","x":500,"y":100,"wires":[]},{"id":"694f4ab2.9e6bd4","type":"comment","z":"55457475.6bd30c","name":"Change the application #ID to the one that is used for OpenCollar sensors","info":"","x":400,"y":200,"wires":[]},{"id":"2360c2a4.b05f9e","type":"ui_text","z":"55457475.6bd30c","group":"67c481f0.afd28","order":1,"width":"6","height":"4","name":"","label":"Uplink","format":"{{msg.payload | json}}","layout":"col-center","x":1150,"y":240,"wires":[]},{"id":"ee4a4b48.dd8238","type":"worldmap","z":"55457475.6bd30c","name":"Trackers","lat":"52.11109","lon":"5.13236","zoom":"","layer":"OSM grey","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","path":"/worldmap","x":1160,"y":420,"wires":[]},{"id":"5f70b125.554c1","type":"worldmap-tracks","z":"55457475.6bd30c","name":"Tracks","depth":"100","layer":"separate","x":1150,"y":380,"wires":[["ee4a4b48.dd8238"]]},{"id":"1de1755a.99cdfb","type":"debug","z":"55457475.6bd30c","name":"Uplink to Chirpstack","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":200,"wires":[]},{"id":"30728ee6.966512","type":"debug","z":"55457475.6bd30c","name":"RAW Uplink JSON","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":240,"wires":[]},{"id":"786b9eac.787c","type":"comment","z":"55457475.6bd30c","name":"This part will show all vallid incomming GPS tracks on the /wordmap UI","info":"","x":1350,"y":340,"wires":[]},{"id":"18b008a2.39c9e7","type":"function","z":"55457475.6bd30c","name":"Add local map","func":"msg.payload = { command : { map : {\n    \"name\": \"Smart Parks\",\n    \"url\": \"//spi/public/tiles/{z}/{x}/{y}.png\",   // we will serve the tiles from this node locally.\n    \"opt\": {\n        \"layers\": \"gb\",                         // specifies a layer in your map file\n        \"format\": \"image/png\",\n        \"transparent\": true,\n        \"attribution\": \"© Ordnance Survey, UK\"\n    }\n}}}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[[]]},{"id":"6612700e.2d9a6","type":"comment","z":"55457475.6bd30c","name":"Add local map server","info":"","x":260,"y":460,"wires":[]},{"id":"480a1a6e.08b0f4","type":"ui_ui_control","z":"55457475.6bd30c","name":"","events":"all","x":220,"y":500,"wires":[["18b008a2.39c9e7"]]},{"id":"1aab2a6a.4c02f6","type":"inject","z":"55457475.6bd30c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":210,"y":540,"wires":[["18b008a2.39c9e7"]]},{"id":"50666206.3e903c","type":"debug","z":"55457475.6bd30c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":300,"wires":[]},{"id":"d5c4a90.14f2d58","type":"mqtt out","z":"a8d01404.c43d58","name":"Downlink","topic":"","qos":"2","retain":"false","broker":"b15b0f41.ee3fe","x":1040,"y":540,"wires":[]},{"id":"3dd96be.cb43b94","type":"debug","z":"a8d01404.c43d58","name":"Downlink","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1040,"y":660,"wires":[]},{"id":"1ef9c221.d138de","type":"ui_button","z":"a8d01404.c43d58","name":"","group":"ddef5a99.783fb8","order":3,"width":0,"height":0,"passthru":false,"label":"Request Settings","tooltip":"Request currunt device settings","color":"","bgcolor":"","icon":"","payload":"{\"confirmed\":true,\"fPort\":99,\"data\":\"qg==\"}","payloadType":"json","topic":"application/7/device/009f13a36948e5ab/tx","x":270,"y":500,"wires":[["9fdc6854.795268"]]},{"id":"d369a99c.c87d78","type":"ui_text","z":"a8d01404.c43d58","group":"ddef5a99.783fb8","order":1,"width":0,"height":0,"name":"","label":"Downlink","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":600,"wires":[]},{"id":"81f9c299.51a5f","type":"ui_button","z":"a8d01404.c43d58","name":"","group":"ddef5a99.783fb8","order":2,"width":0,"height":0,"passthru":false,"label":"Reset Device","tooltip":"Request device reset","color":"","bgcolor":"","icon":"","payload":"{\"confirmed\":true,\"fPort\":99,\"data\":\"qw==\"}","payloadType":"json","topic":"application/7/device/009f13a36948e5ab/tx","x":250,"y":460,"wires":[["9fdc6854.795268"]]},{"id":"e9d89d76.a7e59","type":"ui_button","z":"a8d01404.c43d58","name":"","group":"ddef5a99.783fb8","order":4,"width":0,"height":0,"passthru":false,"label":"LoRaWAN Rejoin","tooltip":"Request LoRaWAN Rejoin","color":"","bgcolor":"","icon":"","payload":"{\"confirmed\":true,\"fPort\":99,\"data\":\"3g==\"}","payloadType":"json","topic":"application/7/device/009f13a36948e5ab/tx","x":270,"y":540,"wires":[["9fdc6854.795268"]]},{"id":"ac451989.1c9f78","type":"debug","z":"a8d01404.c43d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":970,"y":760,"wires":[]},{"id":"8d96e9b.80b7918","type":"debug","z":"a8d01404.c43d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":860,"wires":[]},{"id":"481ba5d9.c6e55c","type":"function","z":"a8d01404.c43d58","name":"Downlink composer","func":"msg.payload = {\n    \"confirmed\": false,\n    \"fPort\": 3,\n    \"object\": msg.payload\n    }\nmsg.topic = \"application/7/device/009f13a36948e5ab/tx\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":760,"wires":[["ac451989.1c9f78","8d96e9b.80b7918"]]},{"id":"98a8dbb1.3bb828","type":"inject","z":"a8d01404.c43d58","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"num","x":230,"y":760,"wires":[["ac6d78fa.107058"]]},{"id":"ac6d78fa.107058","type":"function","z":"a8d01404.c43d58","name":"Encoder Settings","func":"data = {}\ndata['system_status_interval'] = 3\n\nsystem_functions = {}\nsystem_functions['accelerometer_enabled'] = 0\nsystem_functions['light_enabled'] = 0\nsystem_functions['temperature_enabled'] = 0\nsystem_functions['humidity_enabled'] = 0\nsystem_functions['charging_enabled'] = 1\ndata['system_functions'] = system_functions\n\nlorawan_datarate_adr = {}\nlorawan_datarate_adr[\"datarate\"]=3\nlorawan_datarate_adr[\"confirmed_uplink\"]=0\nlorawan_datarate_adr[\"adr\"]=0\ndata['lorawan_datarate_adr'] = lorawan_datarate_adr\n\ndata['gps_periodic_interval'] =1\ndata['gps_triggered_interval'] =1\ndata['gps_triggered_threshold'] =10\ndata['gps_triggered_duration'] =10\ndata['gps_cold_fix_timeout'] =200\ndata['gps_hot_fix_timeout'] =60\ndata['gps_min_fix_time'] =5\ndata['gps_min_ehpe'] =50\ndata['gps_hot_fix_retry'] = 5\ndata['gps_cold_fix_retry'] =2\ndata['gps_fail_retry'] =0\n\ngps_settings = {}\ngps_settings['d3_fix'] = 1\ngps_settings['fail_backoff'] = 0\ngps_settings['hot_fix'] = 1\ngps_settings['fully_resolved'] = 0\n\ndata['gps_settings'] = gps_settings\ndata['system_voltage_interval'] =1\ndata['gps_charge_min'] =0\ndata['system_charge_min'] =3450\ndata['system_charge_max'] =4000\ndata['system_input_charge_min'] =10000\n\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":760,"wires":[["1916085c.8e4ca8","481ba5d9.c6e55c"]]},{"id":"1916085c.8e4ca8","type":"debug","z":"a8d01404.c43d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":860,"wires":[]},{"id":"df25b2d4.de0be","type":"inject","z":"a8d01404.c43d58","name":"JSON Settings","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"system_status_interval\":3,\"system_functions\":{\"accelerometer_enabled\":0,\"light_enabled\":0,\"temperature_enabled\":0,\"humidity_enabled\":0,\"charging_enabled\":1},\"lorawan_datarate_adr\":{\"datarate\":3,\"confirmed_uplink\":0,\"adr\":0},\"gps_periodic_interval\":1,\"gps_triggered_interval\":1,\"gps_triggered_threshold\":10,\"gps_triggered_duration\":10,\"gps_cold_fix_timeout\":200,\"gps_hot_fix_timeout\":60,\"gps_min_fix_time\":5,\"gps_min_ehpe\":50,\"gps_hot_fix_retry\":5,\"gps_cold_fix_retry\":2,\"gps_fail_retry\":0,\"gps_settings\":{\"d3_fix\":1,\"fail_backoff\":0,\"hot_fix\":1,\"fully_resolved\":0},\"system_voltage_interval\":1,\"gps_charge_min\":0,\"system_charge_min\":3450,\"system_charge_max\":4000,\"system_input_charge_min\":10000}","payloadType":"json","x":260,"y":820,"wires":[[]]},{"id":"d7252e22.56c9d","type":"comment","z":"a8d01404.c43d58","name":"Get the list of sensors in the Influx Database","info":"","x":350,"y":100,"wires":[]},{"id":"4e24228c.fb506c","type":"function","z":"a8d01404.c43d58","name":"Device List","func":"msg.query = \"SHOW TAG VALUES WITH KEY = devId;\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":140,"wires":[["e0f5c6f4.0817c8"]]},{"id":"e0f5c6f4.0817c8","type":"influxdb in","z":"a8d01404.c43d58","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":750,"y":140,"wires":[["30736a5e.17cb46","e40d8fde.b5e8a"]]},{"id":"30736a5e.17cb46","type":"debug","z":"a8d01404.c43d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":200,"wires":[]},{"id":"e0193a5c.b0fdc8","type":"ui_dropdown","z":"a8d01404.c43d58","name":"Device list","label":"","tooltip":"","place":"Select device","group":"4cc163ee.8909dc","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1230,"y":140,"wires":[["b18531ac.39dd5","959b27a.60c98d8"]]},{"id":"846988a8.82f7b8","type":"debug","z":"a8d01404.c43d58","name":"Options","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":200,"wires":[]},{"id":"b18531ac.39dd5","type":"debug","z":"a8d01404.c43d58","name":"Device dropdown","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1440,"y":140,"wires":[]},{"id":"959b27a.60c98d8","type":"change","z":"a8d01404.c43d58","name":"","rules":[{"t":"set","p":"deviceName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":200,"wires":[["f0483c7c.18186"]]},{"id":"e440a6b9.54b158","type":"ui_button","z":"a8d01404.c43d58","name":"","group":"ddef5a99.783fb8","order":5,"width":0,"height":0,"passthru":false,"label":"Request GPS log","tooltip":"Request GPS log","color":"","bgcolor":"","icon":"","payload":"{\"confirmed\":true,\"fPort\":99,\"data\":\"EQ==\"}","payloadType":"json","topic":"application/7/device/009f13a36948e5ab/tx","x":270,"y":580,"wires":[["9fdc6854.795268"]]},{"id":"51900379.c1320c","type":"ui_button","z":"a8d01404.c43d58","name":"","group":"ddef5a99.783fb8","order":6,"width":0,"height":0,"passthru":false,"label":"Clear GPS log","tooltip":"Clear GPS log","color":"","bgcolor":"","icon":"","payload":"{\"confirmed\":true,\"fPort\":99,\"data\":\"8Q==\"}","payloadType":"json","topic":"","x":260,"y":620,"wires":[["9fdc6854.795268"]]},{"id":"9fdc6854.795268","type":"function","z":"a8d01404.c43d58","name":"Set device EUI in downlink topic","func":"var eui = flow.get(\"EUI\");\nmsg.topic = \"application/7/device/\"+ eui +\"/tx\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":540,"wires":[["3dd96be.cb43b94","d5c4a90.14f2d58","d369a99c.c87d78"]]},{"id":"f0483c7c.18186","type":"function","z":"a8d01404.c43d58","name":"Get device EUI from Device Name","func":"var devName = flow.get(\"deviceName\");\n//msg.query = \"SELECT DISTINCT(eui) FROM datapackets WHERE \\\"name\\\" = 'wisent-tracker-test-1';\";\nmsg.query = \"SELECT DISTINCT(eui) FROM datapackets WHERE \\\"name\\\" = '\"+ devName +\"' LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["1d7574e6.a4b8fb","bd29816f.b7e4e"]]},{"id":"1d7574e6.a4b8fb","type":"influxdb in","z":"a8d01404.c43d58","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":750,"y":300,"wires":[["17e677f6.9ead68","ba34acf5.19935"]]},{"id":"17e677f6.9ead68","type":"debug","z":"a8d01404.c43d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":340,"wires":[]},{"id":"bd29816f.b7e4e","type":"debug","z":"a8d01404.c43d58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":750,"y":340,"wires":[]},{"id":"7d74a9af.f8a048","type":"ui_text","z":"a8d01404.c43d58","group":"4cc163ee.8909dc","order":2,"width":0,"height":0,"name":"","label":"Device EUI","format":"{{msg.EUI}}","layout":"row-spread","x":1230,"y":300,"wires":[]},{"id":"ba34acf5.19935","type":"change","z":"a8d01404.c43d58","name":"Options","rules":[{"t":"set","p":"EUI","pt":"msg","to":"$.payload.distinct","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":300,"wires":[["7d74a9af.f8a048","a3ed47c8.ae53d8"]]},{"id":"fdf0e875.632c58","type":"comment","z":"a8d01404.c43d58","name":"A flow to query and get the device EUI that belongs to the device name","info":"","x":430,"y":260,"wires":[]},{"id":"a3ed47c8.ae53d8","type":"change","z":"a8d01404.c43d58","name":"","rules":[{"t":"set","p":"EUI","pt":"flow","to":"EUI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":340,"wires":[[]]},{"id":"147e6095.b341af","type":"change","z":"a8d01404.c43d58","name":"Clear form","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":900,"wires":[[]]},{"id":"bdff5415.1a51a8","type":"change","z":"a8d01404.c43d58","name":"Clear flows","rules":[{"t":"delete","p":"EUI","pt":"flow"},{"t":"delete","p":"deviceEUI","pt":"flow"},{"t":"delete","p":"deviceName","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":940,"wires":[[]]},{"id":"60bb5993.13b898","type":"change","z":"a8d01404.c43d58","name":"Clear Device EUI","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":980,"wires":[["7d74a9af.f8a048"]]},{"id":"f0f3d65b.7e76e8","type":"ui_ui_control","z":"a8d01404.c43d58","name":"","events":"all","x":240,"y":900,"wires":[["147e6095.b341af","bdff5415.1a51a8","60bb5993.13b898","78e085d1.d7a37c","19a45724.54dd19","a3dd7f85.8f5e2"]]},{"id":"78e085d1.d7a37c","type":"change","z":"a8d01404.c43d58","name":"Clear Downlink field","rules":[{"t":"set","p":"payload","pt":"msg","to":"no settings have been send yet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1020,"wires":[["d369a99c.c87d78"]]},{"id":"19a45724.54dd19","type":"change","z":"a8d01404.c43d58","name":"Clear Current settings","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please get currnet settings","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1060,"wires":[[]]},{"id":"a3dd7f85.8f5e2","type":"change","z":"a8d01404.c43d58","name":"","rules":[{"t":"delete","p":"latestsettings","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1100,"wires":[[]]},{"id":"6fde2bab.dede04","type":"ui_ui_control","z":"a8d01404.c43d58","name":"","events":"all","x":240,"y":140,"wires":[["4e24228c.fb506c"]]},{"id":"bf97990.e89df68","type":"comment","z":"a8d01404.c43d58","name":"A flow to create UI buttons for sending setting to the device via Chirpstack","info":"","x":440,"y":420,"wires":[]},{"id":"89f357dc.1e7c78","type":"comment","z":"a8d01404.c43d58","name":"NOTE: You need to change the Downlink MQTT topic to your OpenCollar application ID#","info":"","x":1280,"y":500,"wires":[]},{"id":"e146519.2e006b","type":"comment","z":"896bf2ea.746d","name":"Get the list of sensors in the Influx Database","info":"","x":310,"y":80,"wires":[]},{"id":"c4d491d9.4585","type":"function","z":"896bf2ea.746d","name":"Device Name List","func":"msg.query = \"SHOW TAG VALUES WITH KEY = devId;\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["2833252c.09be7a"]]},{"id":"2833252c.09be7a","type":"influxdb in","z":"896bf2ea.746d","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":710,"y":120,"wires":[["10e5576f.5c7d39","93a16a65.6f5e78"]]},{"id":"10e5576f.5c7d39","type":"debug","z":"896bf2ea.746d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":180,"wires":[]},{"id":"af3c4a60.c44848","type":"ui_dropdown","z":"896bf2ea.746d","name":"Device list","label":"","tooltip":"Select device by name","place":"Select device","group":"53035385.07418c","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":1190,"y":120,"wires":[["2e2764a4.3c105c","86ff22f1.65686"]]},{"id":"d0ae0adf.1de218","type":"debug","z":"896bf2ea.746d","name":"Options","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1180,"y":180,"wires":[]},{"id":"2e2764a4.3c105c","type":"debug","z":"896bf2ea.746d","name":"Device dropdown","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1400,"y":120,"wires":[]},{"id":"86ff22f1.65686","type":"change","z":"896bf2ea.746d","name":"","rules":[{"t":"set","p":"deviceName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":180,"wires":[["ec0fda9c.775118"]]},{"id":"5f9919ef.227ec8","type":"function","z":"896bf2ea.746d","name":"Device Status","func":"var devName = flow.get(\"deviceName\");\nmsg.query = \"select * from datapackets where devId = '\"+ devName +\"' AND battery > 0 AND port = 12 ORDER BY time DESC;\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":520,"wires":[["d7cf621d.7a9be","e1446db5.1dad5"]]},{"id":"d7cf621d.7a9be","type":"influxdb in","z":"896bf2ea.746d","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":520,"wires":[["d336d6b6.ee9bd8","a8c2b07a.c0219","8fad9510.7f8998","80478f79.7881b","eca2d114.19d14"]]},{"id":"d336d6b6.ee9bd8","type":"split","z":"896bf2ea.746d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":970,"y":460,"wires":[[]]},{"id":"10fe8828.fd7f08","type":"change","z":"896bf2ea.746d","name":"Battery","rules":[{"t":"move","p":"payload.battery","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":680,"wires":[["af68bd0e.1d526"]]},{"id":"ebf22650.884028","type":"change","z":"896bf2ea.746d","name":"accelx","rules":[{"t":"move","p":"payload.accelx","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"x","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":560,"wires":[[]]},{"id":"1310c1d1.25135e","type":"change","z":"896bf2ea.746d","name":"accely","rules":[{"t":"move","p":"payload.accely","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":600,"wires":[[]]},{"id":"3a9e3585.bebeaa","type":"change","z":"896bf2ea.746d","name":"accelz","rules":[{"t":"move","p":"payload.accelz","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"z","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":640,"wires":[[]]},{"id":"af68bd0e.1d526","type":"ui_gauge","z":"896bf2ea.746d","name":"Battery Level","group":"8ac3b52a.7851a8","order":4,"width":0,"height":0,"gtype":"gage","title":"Battery_level","label":"Volt","format":"{{value/1000}}","min":0,"max":"5000","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"2000","seg2":"3000","x":1530,"y":680,"wires":[]},{"id":"a8c2b07a.c0219","type":"ui_table","z":"896bf2ea.746d","group":"49e6cf21.02a3c","name":"Table","order":2,"width":"6","height":"11","columns":[{"field":"time","title":"time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"gps_fix_error","title":"GPS fix error","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"gps_periodic_error","title":"GPS periodic fix error","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"rssi","title":"rssi","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"fCnt","title":"fCnt","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1510,"y":380,"wires":[]},{"id":"8fad9510.7f8998","type":"debug","z":"896bf2ea.746d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":580,"wires":[]},{"id":"16205263.88a8de","type":"ui_button","z":"896bf2ea.746d","name":"Get Device status","group":"8ac3b52a.7851a8","order":1,"width":0,"height":0,"passthru":false,"label":"Get Device status","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":520,"wires":[["5f9919ef.227ec8"]]},{"id":"dec6d28e.b7eba","type":"comment","z":"896bf2ea.746d","name":"A flow to get a list of device status reports (port 12)","info":"","x":330,"y":460,"wires":[]},{"id":"7cf8e968.bf2298","type":"ui_ui_control","z":"896bf2ea.746d","name":"","events":"all","x":200,"y":120,"wires":[["c4d491d9.4585"]]},{"id":"ec0fda9c.775118","type":"function","z":"896bf2ea.746d","name":"Get device EUI from Device Name","func":"var devName = flow.get(\"deviceName\");\n//msg.query = \"SELECT DISTINCT(eui) FROM datapackets WHERE \\\"name\\\" = 'wisent-tracker-test-1';\";\nmsg.query = \"SELECT DISTINCT(eui) FROM datapackets WHERE \\\"name\\\" = '\"+ devName +\"' LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["a2719065.6b661","e37d03d.24b76"]]},{"id":"a2719065.6b661","type":"influxdb in","z":"896bf2ea.746d","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":710,"y":280,"wires":[["b25f3ff8.9044e","cff55a6a.4955a8"]]},{"id":"b25f3ff8.9044e","type":"debug","z":"896bf2ea.746d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":320,"wires":[]},{"id":"e37d03d.24b76","type":"debug","z":"896bf2ea.746d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":710,"y":320,"wires":[]},{"id":"f4ce5291.58f87","type":"ui_text","z":"896bf2ea.746d","group":"53035385.07418c","order":2,"width":0,"height":0,"name":"","label":"Device EUI","format":"{{msg.EUI}}","layout":"row-spread","x":1190,"y":280,"wires":[]},{"id":"cff55a6a.4955a8","type":"change","z":"896bf2ea.746d","name":"Options","rules":[{"t":"set","p":"EUI","pt":"msg","to":"$.payload.distinct","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":280,"wires":[["f4ce5291.58f87","7c9f1881.2949e8"]]},{"id":"e1446db5.1dad5","type":"debug","z":"896bf2ea.746d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":630,"y":560,"wires":[]},{"id":"dd899fe6.93f51","type":"comment","z":"896bf2ea.746d","name":"A flow to query and get the device EUI that belongs to the device name","info":"","x":390,"y":240,"wires":[]},{"id":"7c9f1881.2949e8","type":"change","z":"896bf2ea.746d","name":"","rules":[{"t":"set","p":"EUI","pt":"flow","to":"EUI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":320,"wires":[[]]},{"id":"6eb1039f.e0f7cc","type":"change","z":"896bf2ea.746d","name":"Clear table","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":740,"wires":[["a8c2b07a.c0219"]]},{"id":"3ca8d65d.d0dfba","type":"change","z":"896bf2ea.746d","name":"Battery External","rules":[{"t":"move","p":"payload.battery_low","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":720,"wires":[["7406464c.cb6ec8"]]},{"id":"7406464c.cb6ec8","type":"ui_gauge","z":"896bf2ea.746d","name":"Power Source","group":"8ac3b52a.7851a8","order":5,"width":0,"height":0,"gtype":"gage","title":"Power Source","label":"Volt","format":"{{value/1000}}","min":0,"max":"30000","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"11000","seg2":"12000","x":1540,"y":720,"wires":[]},{"id":"d04148c.483d8b8","type":"change","z":"896bf2ea.746d","name":"Clear flows","rules":[{"t":"delete","p":"EUI","pt":"flow"},{"t":"delete","p":"deviceEUI","pt":"flow"},{"t":"delete","p":"deviceName","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":820,"wires":[[]]},{"id":"9e71e7cf.48a128","type":"change","z":"896bf2ea.746d","name":"Clear Device EUI","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":860,"wires":[["f4ce5291.58f87"]]},{"id":"30691947.08de16","type":"ui_ui_control","z":"896bf2ea.746d","name":"","events":"all","x":200,"y":780,"wires":[["6eb1039f.e0f7cc","d04148c.483d8b8","9e71e7cf.48a128","e6b10291.6ca53","4b6cd2ea.49eb0c"]]},{"id":"e6b10291.6ca53","type":"change","z":"896bf2ea.746d","name":"Clear graph","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":780,"wires":[["af68bd0e.1d526","7406464c.cb6ec8","a2f4b8e8.b69c18","6d7635d5.01066c","ba4b32db.b56cd"]]},{"id":"a2f4b8e8.b69c18","type":"ui_gauge","z":"896bf2ea.746d","name":"Temperature","group":"8ac3b52a.7851a8","order":6,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","x":1530,"y":760,"wires":[]},{"id":"25b5f0c4.bb1b7","type":"change","z":"896bf2ea.746d","name":"Temperature","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":760,"wires":[["a2f4b8e8.b69c18"]]},{"id":"6d7635d5.01066c","type":"ui_gauge","z":"896bf2ea.746d","name":"GPS Periodic Error","group":"5e58ef3b.9d907","order":1,"width":0,"height":0,"gtype":"wave","title":"GPS Periodic Error","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1550,"y":800,"wires":[]},{"id":"74346a7a.7ae1b4","type":"change","z":"896bf2ea.746d","name":"gps_periodic_error","rules":[{"t":"move","p":"payload.gps_periodic_error","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":800,"wires":[["6d7635d5.01066c"]]},{"id":"a3c8ef75.71afd","type":"change","z":"896bf2ea.746d","name":"gps_triggered_error","rules":[{"t":"move","p":"payload.gps_triggered_error","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":840,"wires":[["ba4b32db.b56cd"]]},{"id":"ba4b32db.b56cd","type":"ui_gauge","z":"896bf2ea.746d","name":"GPS Triggered Error","group":"5e58ef3b.9d907","order":1,"width":0,"height":0,"gtype":"wave","title":"GPS Triggered Error","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1560,"y":840,"wires":[]},{"id":"8670c740.5fbc28","type":"debug","z":"896bf2ea.746d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1720,"y":920,"wires":[]},{"id":"80478f79.7881b","type":"function","z":"896bf2ea.746d","name":"convert time string to timestamp","func":"msg.payload.timeParsed = Date.parse(msg.payload[0].time)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1210,"y":920,"wires":[["b5c59768.2ff298","16373754.665fd9","f6a213d5.bc9b7"]]},{"id":"a4cb480.93205b8","type":"comment","z":"896bf2ea.746d","name":"Format and display timestamp of data","info":"https://momentjs.com/docs/#/displaying/format/","x":1230,"y":880,"wires":[]},{"id":"3a9a7fb4.e3bc","type":"ui_text","z":"896bf2ea.746d","group":"8ac3b52a.7851a8","order":2,"width":0,"height":0,"name":"Last seen","label":"Last seen:","format":"{{msg.payload}}","layout":"row-spread","x":1700,"y":960,"wires":[]},{"id":"ad426cc3.478af","type":"change","z":"896bf2ea.746d","name":"","rules":[{"t":"set","p":"ui_control","pt":"msg","to":"{\"customHeight\":18,\"tabulator\":{\"layout\":\"fitColumns\",\"movableColumns\":false,\"index\":\"Time\",\"columns\":[{\"formatterParams\":{\"outputFormat\":\"HH:mm:ss YYYY-MM-DD\",\"inputFormat\":\"YYYY-MM-DD hh:mm:ss\",\"invalidPlaceholder\":\"(unknown)\"},\"title\":\"Time\",\"field\":\"time\",\"formatter\":\"datetime\",\"headerTooltip\":\"timestamp of data\"},{\"title\":\"GPS fix error\",\"field\":\"gps_fix_error\",\"formatter\":\"function(cell, formatterParams, onRendered){     var html=\\\"<i class=\\\\\\\"\\\";     switch(cell.getValue()) { case 0: html+=\\\"fa fa-check\\\"; break; case 1: html+=\\\"fa fa-exclamation\\\"; break; }     html+='\\\\\\\"></i>';     return html; }\",\"align\":\"center\",\"headerTooltip\":\"GPS fix error\"},{\"title\":\"GPS periodic fix error\",\"field\":\"gps_periodic_error\",\"align\":\"center\",\"formatter\":\"function(cell, formatterParams, onRendered){     var html=\\\"<i class=\\\\\\\"\\\";     switch(cell.getValue()) { case 0: html+=\\\"fa fa-check\\\"; break; case 1: html+=\\\"fa fa-exclamation\\\"; break; }     html+='\\\\\\\"></i>';     return html; }\",\"headerTooltip\":\"GPS fix error\"},{\"title\":\"rssi\",\"field\":\"rssi\",\"formatter\":\"text\",\"align\":\"center\",\"headerTooltip\":\"RSSI\"},{\"title\":\"fCnt\",\"field\":\"fCnt\",\"formatter\":\"text\",\"align\":\"center\",\"headerTooltip\":\"Frame counter\"}],\"initialSort\":[{\"column\":\"time\",\"dir\":\"desc\"}]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":960,"wires":[["a8c2b07a.c0219"]]},{"id":"cbe3b4b8.abf458","type":"ui_button","z":"896bf2ea.746d","name":"Format table","group":"49e6cf21.02a3c","order":1,"width":0,"height":0,"passthru":false,"label":"Format Table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":960,"wires":[["ad426cc3.478af"]]},{"id":"eca2d114.19d14","type":"function","z":"896bf2ea.746d","name":"last message","func":"msg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":520,"wires":[["d304b7e8.b87ef8","ebf22650.884028","1310c1d1.25135e","3a9e3585.bebeaa","10fe8828.fd7f08","3ca8d65d.d0dfba","25b5f0c4.bb1b7","74346a7a.7ae1b4","a3c8ef75.71afd","c9f1d0a3.6a013","e7f966ca.e05288","5e0f04e0.b13c5c","5bf3b6aa.740328","7bdbef84.dfc69","750854a2.44520c","7a1c1eea.25295"]]},{"id":"d304b7e8.b87ef8","type":"debug","z":"896bf2ea.746d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":520,"wires":[]},{"id":"4b6cd2ea.49eb0c","type":"change","z":"896bf2ea.746d","name":"Clear Last seen","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":900,"wires":[["3a9a7fb4.e3bc","c9f1d0a3.6a013","e7f966ca.e05288","5e0f04e0.b13c5c","5bf3b6aa.740328","7bdbef84.dfc69","750854a2.44520c","7a1c1eea.25295"]]},{"id":"c9f1d0a3.6a013","type":"ui_text","z":"896bf2ea.746d","group":"b5cdf345.31e33","order":6,"width":0,"height":0,"name":"gps_on_time_total","label":"gps_on_time_total","format":"{{msg.payload.gps_on_time_total}}","layout":"row-spread","x":1290,"y":1060,"wires":[]},{"id":"e7f966ca.e05288","type":"ui_text","z":"896bf2ea.746d","group":"b5cdf345.31e33","order":7,"width":0,"height":0,"name":"gps_resend","label":"gps_resend","format":"{{msg.payload.gps_resend}}","layout":"row-spread","x":1270,"y":1100,"wires":[]},{"id":"5e0f04e0.b13c5c","type":"ui_text","z":"896bf2ea.746d","group":"b5cdf345.31e33","order":5,"width":0,"height":0,"name":"temperature","label":"temperature","format":"{{msg.payload.temperature}}","layout":"row-spread","x":1270,"y":1140,"wires":[]},{"id":"7bdbef84.dfc69","type":"ui_text","z":"896bf2ea.746d","group":"b5cdf345.31e33","order":1,"width":0,"height":0,"name":"port","label":"port","format":"{{msg.payload.port}}","layout":"row-spread","x":1250,"y":1220,"wires":[]},{"id":"750854a2.44520c","type":"ui_text","z":"896bf2ea.746d","group":"b5cdf345.31e33","order":3,"width":0,"height":0,"name":"fCnt","label":"fCnt","format":"{{msg.payload.fCnt}}","layout":"row-spread","x":1250,"y":1260,"wires":[]},{"id":"7a1c1eea.25295","type":"ui_text","z":"896bf2ea.746d","group":"b5cdf345.31e33","order":4,"width":0,"height":0,"name":"rssi","label":"rssi","format":"{{msg.payload.rssi}}","layout":"row-spread","x":1250,"y":1300,"wires":[]},{"id":"5bf3b6aa.740328","type":"ui_text","z":"896bf2ea.746d","group":"b5cdf345.31e33","order":2,"width":0,"height":0,"name":"dr","label":"dr","format":"{{msg.payload.dr}}","layout":"row-spread","x":1250,"y":1180,"wires":[]},{"id":"d31e7fe6.107","type":"ui_text","z":"896bf2ea.746d","group":"8ac3b52a.7851a8","order":3,"width":0,"height":0,"name":"Last seen","label":"Last seen:","format":"{{msg.payload}}","layout":"row-spread","x":1700,"y":1000,"wires":[]},{"id":"2ce4fd48.e5fb82","type":"comment","z":"20e8a603.85b77a","name":"Get the list of sensors in the Influx Database","info":"","x":290,"y":100,"wires":[]},{"id":"da241165.a3db6","type":"function","z":"20e8a603.85b77a","name":"Device List","func":"msg.query = \"SHOW TAG VALUES WITH KEY = devId;\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["1c7135fb.a8d89a"]]},{"id":"1c7135fb.a8d89a","type":"influxdb in","z":"20e8a603.85b77a","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":690,"y":140,"wires":[["d25708cb.248998","f2afe8b6.697a28"]]},{"id":"d25708cb.248998","type":"debug","z":"20e8a603.85b77a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":200,"wires":[]},{"id":"1621cadf.41af25","type":"ui_dropdown","z":"20e8a603.85b77a","name":"Device list","label":"","tooltip":"","place":"Select device","group":"3b025da1.f36612","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1170,"y":140,"wires":[["53cd469.c6decb8","b13b1127.48844"]]},{"id":"277b0bc6.f3dcc4","type":"debug","z":"20e8a603.85b77a","name":"Options","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1160,"y":200,"wires":[]},{"id":"53cd469.c6decb8","type":"debug","z":"20e8a603.85b77a","name":"Device dropdown","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1380,"y":140,"wires":[]},{"id":"b13b1127.48844","type":"change","z":"20e8a603.85b77a","name":"","rules":[{"t":"set","p":"deviceName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":200,"wires":[["cf05c037.c4881"]]},{"id":"1f727757.cc5de9","type":"ui_text","z":"20e8a603.85b77a","group":"5a01adaa.428694","order":3,"width":"6","height":"3","name":"Downlink Payload","label":"","format":"{{msg.payload | json}}","layout":"row-left","x":930,"y":520,"wires":[]},{"id":"d6ab1cf1.edb02","type":"ui_form","z":"20e8a603.85b77a","name":"","label":"","group":"e1a2c4.c3e30d4","order":3,"width":0,"height":0,"options":[{"label":"system_status_interval","value":"system_status_interval","type":"number","required":true,"rows":null},{"label":"system_functions.gps_hot_fix","value":"gps_hot_fix","type":"number","required":true,"rows":null},{"label":"system_functions.gps_periodic","value":"gps_periodic","type":"number","required":true,"rows":null},{"label":"system_functions.gps_triggered","value":"gps_triggered","type":"number","required":true,"rows":null},{"label":"system_functions.accelerometer_enabled","value":"accelerometer_enabled","type":"number","required":true,"rows":null},{"label":"system_functions.light_enabled","value":"light_enabled","type":"number","required":true,"rows":null},{"label":"system_functions.temperature_enabled","value":"temperature_enabled","type":"number","required":true,"rows":null},{"label":"system_functions.humidity_enabled","value":"humidity_enabled","type":"number","required":true,"rows":null},{"label":"system_functions.charging_enabled","value":"charging_enabled","type":"number","required":true,"rows":null},{"label":"lorawan_datarate_adr.datarate","value":"datarate","type":"number","required":true,"rows":null},{"label":"lorawan_datarate_adr.confirmed_uplink","value":"confirmed_uplink","type":"number","required":true,"rows":null},{"label":"lorawan_datarate_adr.adr","value":"adr","type":"number","required":true,"rows":null},{"label":"gps_periodic_interval","value":"gps_periodic_interval","type":"number","required":true,"rows":null},{"label":"gps_triggered_interval","value":"gps_triggered_interval","type":"number","required":true,"rows":null},{"label":"gps_triggered_threshold","value":"gps_triggered_threshold","type":"number","required":true,"rows":null},{"label":"gps_triggered_duration","value":"gps_triggered_duration","type":"number","required":true,"rows":null},{"label":"gps_cold_fix_timeout","value":"gps_cold_fix_timeout","type":"number","required":true,"rows":null},{"label":"gps_hot_fix_timeout","value":"gps_hot_fix_timeout","type":"number","required":true,"rows":null},{"label":"gps_min_fix_time","value":"gps_min_fix_time","type":"number","required":true,"rows":null},{"label":"gps_min_ehpe","value":"gps_min_ehpe","type":"number","required":true,"rows":null},{"label":"gps_hot_fix_retry","value":"gps_hot_fix_retry","type":"number","required":true,"rows":null},{"label":"gps_cold_fix_retry","value":"gps_cold_fix_retry","type":"number","required":true,"rows":null},{"label":"gps_fail_retry","value":"gps_fail_retry","type":"number","required":true,"rows":null},{"label":"gps_settings.d3_fix","value":"d3_fix","type":"number","required":true,"rows":null},{"label":"gps_settings.fail_backoff","value":"fail_backoff","type":"number","required":true,"rows":null},{"label":"gps_settings.hot_fix","value":"hot_fix","type":"number","required":true,"rows":null},{"label":"gps_settings.fully_resolved","value":"fully_resolved","type":"number","required":true,"rows":null},{"label":"system_voltage_interval","value":"system_voltage_interval","type":"number","required":true,"rows":null},{"label":"gps_charge_min","value":"gps_charge_min","type":"number","required":true,"rows":null},{"label":"system_charge_min","value":"system_charge_min","type":"number","required":true,"rows":null},{"label":"system_charge_max","value":"system_charge_max","type":"number","required":true,"rows":null},{"label":"system_input_charge_min","value":"system_input_charge_min","type":"number","required":true,"rows":null}],"formValue":{"system_status_interval":"","gps_hot_fix":"","gps_periodic":"","gps_triggered":"","accelerometer_enabled":"","light_enabled":"","temperature_enabled":"","humidity_enabled":"","charging_enabled":"","datarate":"","confirmed_uplink":"","adr":"","gps_periodic_interval":"","gps_triggered_interval":"","gps_triggered_threshold":"","gps_triggered_duration":"","gps_cold_fix_timeout":"","gps_hot_fix_timeout":"","gps_min_fix_time":"","gps_min_ehpe":"","gps_hot_fix_retry":"","gps_cold_fix_retry":"","gps_fail_retry":"","d3_fix":"","fail_backoff":"","hot_fix":"","fully_resolved":"","system_voltage_interval":"","gps_charge_min":"","system_charge_min":"","system_charge_max":"","system_input_charge_min":""},"payload":"","submit":"submit","cancel":"cancel","topic":"application/7/device/009f13a36948e5ab/tx","x":170,"y":460,"wires":[["b37cf6f5.987618"]]},{"id":"b37cf6f5.987618","type":"function","z":"20e8a603.85b77a","name":"Encoder Settings","func":"data = {}\ndata['system_status_interval'] = msg.payload.system_status_interval\n\nsystem_functions = {}\nsystem_functions['gps_periodic'] = msg.payload.gps_periodic\nsystem_functions['gps_triggered'] = msg.payload.gps_triggered\nsystem_functions['gps_hot_fix'] = msg.payload.gps_hot_fix\nsystem_functions['accelerometer_enabled'] = msg.payload.accelerometer_enabled\nsystem_functions['light_enabled'] = msg.payload.light_enabled\nsystem_functions['temperature_enabled'] = msg.payload.temperature_enabled\nsystem_functions['humidity_enabled'] = msg.payload.humidity_enabled\nsystem_functions['charging_enabled'] = msg.payload.charging_enabled\ndata['system_functions'] = system_functions\n\nlorawan_datarate_adr = {}\nlorawan_datarate_adr[\"datarate\"]= msg.payload.datarate\nlorawan_datarate_adr[\"confirmed_uplink\"]= msg.payload.confirmed_uplink\nlorawan_datarate_adr[\"adr\"]= msg.payload.adr\ndata['lorawan_datarate_adr'] = lorawan_datarate_adr\n\ndata['gps_periodic_interval'] = msg.payload.gps_periodic_interval\ndata['gps_triggered_interval'] = msg.payload.gps_triggered_interval\ndata['gps_triggered_threshold'] = msg.payload.gps_triggered_threshold\ndata['gps_triggered_duration'] = msg.payload.gps_triggered_duration\ndata['gps_cold_fix_timeout'] = msg.payload.gps_cold_fix_timeout\ndata['gps_hot_fix_timeout'] = msg.payload.gps_hot_fix_timeout\ndata['gps_min_fix_time'] = msg.payload.gps_min_fix_time\ndata['gps_min_ehpe'] = msg.payload.gps_min_ehpe\ndata['gps_hot_fix_retry'] =  msg.payload.gps_hot_fix_retry\ndata['gps_cold_fix_retry'] = msg.payload.gps_cold_fix_retry\ndata['gps_fail_retry'] = msg.payload.gps_fail_retry\n\ngps_settings = {}\ngps_settings['d3_fix'] = msg.payload.d3_fix\ngps_settings['fail_backoff'] = msg.payload.fail_backoff\ngps_settings['hot_fix'] = msg.payload.hot_fix\ngps_settings['fully_resolved'] = msg.payload.fully_resolved\n\ndata['gps_settings'] = gps_settings\ndata['system_voltage_interval'] = msg.payload.system_voltage_interval\ndata['gps_charge_min'] = msg.payload.gps_charge_min\ndata['system_charge_min'] = msg.payload.system_charge_min\ndata['system_charge_max'] = msg.payload.system_charge_max\ndata['system_input_charge_min'] = msg.payload.system_input_charge_min\n\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":460,"wires":[["82e22dc.ebc60d"]]},{"id":"82e22dc.ebc60d","type":"function","z":"20e8a603.85b77a","name":"Downlink composer","func":"eui = flow.get(\"EUI\")\nmsg.payload = {\n    \"confirmed\": true,\n    \"fPort\": 3,\n    \"object\": msg.payload\n    }\nmsg.topic = \"application/7/device/\"+ eui +\"/tx\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":460,"wires":[["237caf31.38d0b","1f727757.cc5de9","7c1fc567.217ccc","4b18aeac.5f8ca"]]},{"id":"237caf31.38d0b","type":"debug","z":"20e8a603.85b77a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":560,"wires":[]},{"id":"ec2dc38f.1289c","type":"function","z":"20e8a603.85b77a","name":"Intitial setttings","func":"msg.payload =\n{\n    \"system_status_interval\": 30,\n    //\"system_functions\":\n        \"gps_hot_fix\": 1,\n\t    \"gps_periodic\": 1,\n\t    \"gps_triggered\": 1,\n        \"accelerometer_enabled\": 1,\n        \"light_enabled\": 0,\n        \"temperature_enabled\": 1,\n        \"humidity_enabled\": 1,\n        \"charging_enabled\": 1,\n    //\"lorawan_datarate_adr\":\n        \"datarate\": 2,\n        \"confirmed_uplink\": 0,\n        \"adr\": 0,\n    \"gps_periodic_interval\": 15,\n    \"gps_triggered_interval\": 3,\n    \"gps_triggered_threshold\": 10,\n    \"gps_triggered_duration\": 10,\n    \"gps_cold_fix_timeout\": 200,\n    \"gps_hot_fix_timeout\": 60,\n    \"gps_min_fix_time\": 5,\n    \"gps_min_ehpe\": 50,\n    \"gps_hot_fix_retry\": 5,\n    \"gps_cold_fix_retry\": 2,\n    \"gps_fail_retry\": 0,\n    //\"gps_settings\":\n        \"d3_fix\": 1,\n        \"fail_backoff\": 0,\n        \"hot_fix\": 1,\n        \"fully_resolved\": 0,\n    \"system_voltage_interval\": 30,\n    \"gps_charge_min\": 3000,\n    \"system_charge_min\": 3900,\n    \"system_charge_max\": 4100,\n    \"system_input_charge_min\": 10000\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":640,"wires":[["d6ab1cf1.edb02"]]},{"id":"7c1fc567.217ccc","type":"mqtt out","z":"20e8a603.85b77a","name":"Downlink","topic":"","qos":"2","retain":"false","broker":"b15b0f41.ee3fe","x":900,"y":460,"wires":[]},{"id":"beb6185d.49f748","type":"ui_button","z":"20e8a603.85b77a","d":true,"name":"","group":"e1a2c4.c3e30d4","order":1,"width":0,"height":0,"passthru":false,"label":"Load latest settings","tooltip":"","color":"","bgcolor":"","icon":"","payload":"latestsettings","payloadType":"flow","topic":"","x":210,"y":600,"wires":[["d6ab1cf1.edb02"]]},{"id":"7a5f78b.10f1988","type":"ui_button","z":"20e8a603.85b77a","name":"","group":"e1a2c4.c3e30d4","order":2,"width":0,"height":0,"passthru":false,"label":"Load standard settings","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":640,"wires":[["ec2dc38f.1289c"]]},{"id":"36e5c720.b602b8","type":"ui_ui_control","z":"20e8a603.85b77a","name":"","events":"all","x":180,"y":140,"wires":[["da241165.a3db6"]]},{"id":"92a92148.3f69d","type":"comment","z":"20e8a603.85b77a","name":"This flow subscribes to the OpenCollar mqtt stream of Chirpstack to send Downlinks","info":"","x":410,"y":420,"wires":[]},{"id":"5b26bbff.78f884","type":"function","z":"20e8a603.85b77a","name":"Device Settings","func":"var devName = flow.get(\"deviceName\");\nmsg.query = \"SELECT * FROM datapackets WHERE \\\"name\\\" = '\"+ devName +\"' AND port = 3 LIMIT 1;\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":780,"wires":[["6864b036.5d29d"]]},{"id":"29a0f5c1.34765a","type":"inject","z":"20e8a603.85b77a","name":"Get current settings from Database","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":260,"y":820,"wires":[["5b26bbff.78f884"]]},{"id":"6864b036.5d29d","type":"influxdb in","z":"20e8a603.85b77a","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":690,"y":780,"wires":[["cad40f4b.d494e","68d4f14b.9673e","516fa7e7.8ca248","ba03bc26.04d1f"]]},{"id":"77f3c8e.6f33c38","type":"ui_button","z":"20e8a603.85b77a","name":"","group":"97a76a8.2b2ef98","order":1,"width":0,"height":0,"passthru":false,"label":"Get currect settings","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":780,"wires":[["5b26bbff.78f884"]]},{"id":"cad40f4b.d494e","type":"debug","z":"20e8a603.85b77a","name":"device settings","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":820,"wires":[]},{"id":"68d4f14b.9673e","type":"change","z":"20e8a603.85b77a","name":"","rules":[{"t":"set","p":"latestsettings","pt":"flow","to":"payload.0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":860,"wires":[[]]},{"id":"516fa7e7.8ca248","type":"ui_text","z":"20e8a603.85b77a","d":true,"group":"97a76a8.2b2ef98","order":2,"width":"6","height":"4","name":"Current settings","label":"","format":"{{msg.payload | json}}","layout":"row-left","x":920,"y":780,"wires":[]},{"id":"85a3cb78.ab5e68","type":"comment","z":"20e8a603.85b77a","name":"This flow queries the latest known device settings from the Influx Database","info":"","x":380,"y":740,"wires":[]},{"id":"cf05c037.c4881","type":"function","z":"20e8a603.85b77a","name":"Get device EUI from Device Name","func":"var devName = flow.get(\"deviceName\");\n//msg.query = \"SELECT DISTINCT(eui) FROM datapackets WHERE \\\"name\\\" = 'wisent-tracker-test-1';\";\nmsg.query = \"SELECT DISTINCT(eui) FROM datapackets WHERE \\\"name\\\" = '\"+ devName +\"' LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["49049a07.fc63b4","89fb66b0.72cbe8"]]},{"id":"49049a07.fc63b4","type":"influxdb in","z":"20e8a603.85b77a","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":690,"y":280,"wires":[["9701f022.6ad01","ae658d6c.22f4e"]]},{"id":"9701f022.6ad01","type":"debug","z":"20e8a603.85b77a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":320,"wires":[]},{"id":"89fb66b0.72cbe8","type":"debug","z":"20e8a603.85b77a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":690,"y":320,"wires":[]},{"id":"92764b19.872f48","type":"ui_text","z":"20e8a603.85b77a","group":"3b025da1.f36612","order":2,"width":0,"height":0,"name":"","label":"Device EUI","format":"{{msg.EUI}}","layout":"row-spread","x":1170,"y":280,"wires":[]},{"id":"ae658d6c.22f4e","type":"change","z":"20e8a603.85b77a","name":"Options","rules":[{"t":"set","p":"EUI","pt":"msg","to":"$.payload.distinct","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":280,"wires":[["92764b19.872f48","7624e3ef.6a331c"]]},{"id":"2f310227.1683de","type":"comment","z":"20e8a603.85b77a","name":"A flow to query and get the device EUI that belongs to the device name","info":"","x":370,"y":240,"wires":[]},{"id":"7624e3ef.6a331c","type":"change","z":"20e8a603.85b77a","name":"","rules":[{"t":"set","p":"EUI","pt":"flow","to":"EUI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":320,"wires":[[]]},{"id":"b4230a5.a4b9bf8","type":"change","z":"20e8a603.85b77a","name":"Clear form","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":920,"wires":[["d6ab1cf1.edb02"]]},{"id":"b3fc4ed.a7125b","type":"change","z":"20e8a603.85b77a","name":"Clear flows","rules":[{"t":"delete","p":"EUI","pt":"flow"},{"t":"delete","p":"deviceEUI","pt":"flow"},{"t":"delete","p":"deviceName","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":960,"wires":[[]]},{"id":"87b18510.113168","type":"change","z":"20e8a603.85b77a","name":"Clear Device EUI","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1000,"wires":[["92764b19.872f48"]]},{"id":"9042ce3a.0950a","type":"ui_ui_control","z":"20e8a603.85b77a","name":"","events":"all","x":180,"y":920,"wires":[["b4230a5.a4b9bf8","b3fc4ed.a7125b","87b18510.113168","9472db07.6ec4f8","6c439ed1.7ad","6de26d2c.38c784"]]},{"id":"9472db07.6ec4f8","type":"change","z":"20e8a603.85b77a","name":"Clear Payload field","rules":[{"t":"set","p":"payload","pt":"msg","to":"no settings have been send yet","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1040,"wires":[["1f727757.cc5de9"]]},{"id":"6c439ed1.7ad","type":"change","z":"20e8a603.85b77a","name":"Clear Current settings","rules":[{"t":"set","p":"payload","pt":"msg","to":"Please get currnet settings","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1080,"wires":[["516fa7e7.8ca248"]]},{"id":"6de26d2c.38c784","type":"change","z":"20e8a603.85b77a","name":"","rules":[{"t":"delete","p":"latestsettings","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1120,"wires":[[]]},{"id":"c53eef89.78fa8","type":"comment","z":"20e8a603.85b77a","name":"NOTE: You need to change the Downlink MQTT topic to your OpenCollar application ID#","info":"","x":1140,"y":420,"wires":[]},{"id":"ba03bc26.04d1f","type":"change","z":"20e8a603.85b77a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.0","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":740,"wires":[["d6ab1cf1.edb02"]]},{"id":"15022ad5.698b65","type":"influxdb in","z":"b04f6033.e870c","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":650,"y":480,"wires":[["3c1e3527.03ca6a","26b68613.4d4f4a","a38f2f6c.0afce","bd0b366.de9e0c8","6d17a4bf.d1445c"]]},{"id":"3c1e3527.03ca6a","type":"debug","z":"b04f6033.e870c","name":"Influx Query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":640,"wires":[]},{"id":"e7ffe39d.dfd1f","type":"function","z":"b04f6033.e870c","name":"GPS port 1","func":"var devName = flow.get(\"deviceName\");\nvar limit = flow.get(\"limit\");\nmsg.query = \"select * from datapackets where devId = '\"+ devName +\"' AND lat > 0 AND port = 1 ORDER BY time DESC LIMIT \"+ limit +\";\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["15022ad5.698b65","172fe64b.fe605a"]]},{"id":"5e72470b.c986a8","type":"split","z":"b04f6033.e870c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload","x":990,"y":480,"wires":[["515035d2.6a4aec","61f28f56.f02a4","ebe85f5d.b8c3e","cfb39c72.e122d","f47bd5f6.bec578"]]},{"id":"515035d2.6a4aec","type":"debug","z":"b04f6033.e870c","name":"split","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":400,"wires":[]},{"id":"f47bd5f6.bec578","type":"worldmap-tracks","z":"b04f6033.e870c","name":"Tracks","depth":"100","layer":"single","x":1370,"y":680,"wires":[["84db3a2c.3e19d8"]]},{"id":"dbf746fd.ddf198","type":"function","z":"b04f6033.e870c","name":"GPS port 11","func":"var devName = flow.get(\"deviceName\");\nmsg.query = \"select * from datapackets where devId = '\"+ devName +\"' AND lat > 0 AND port = 11;\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["15022ad5.698b65","172fe64b.fe605a"]]},{"id":"26b68613.4d4f4a","type":"ui_table","z":"b04f6033.e870c","group":"2e368250.2c6f3e","name":"GPS Table","order":1,"width":6,"height":5,"columns":[{"field":"time","title":"time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"name","title":"Device","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"lat","title":"lat","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"lon","title":"lon","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"epe","title":"epe","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"time_to_fix","title":"TTF","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"rssi","title":"rssi","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1370,"y":740,"wires":[]},{"id":"c5470f8e.383ce","type":"ui_button","z":"b04f6033.e870c","name":"","group":"3fdc6031.e1328","order":1,"width":0,"height":0,"passthru":false,"label":"Get GPS Tracks","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":480,"wires":[["e7ffe39d.dfd1f","d82896ab.1fa3a8"]]},{"id":"f9cebe0.9a1ef4","type":"ui_button","z":"b04f6033.e870c","name":"","group":"7ec922d.0504bdc","order":2,"width":0,"height":0,"passthru":false,"label":"Show GPS Log","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":520,"wires":[["dbf746fd.ddf198"]]},{"id":"61f28f56.f02a4","type":"change","z":"b04f6033.e870c","name":"Icon","rules":[{"t":"set","p":"payload.icon","pt":"msg","to":"uav","tot":"str"},{"t":"set","p":"payload.iconColor","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":600,"wires":[["e88d45dd.26d258"]]},{"id":"5357b87b.207ff8","type":"function","z":"b04f6033.e870c","name":"GPS port 1","func":"var deviceEUI = flow.get('deviceEUI');\nmsg.query = \"select * from datapackets where devId = '\"+ deviceEUI +\"' AND lat > 0 AND port = 1;\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":640,"wires":[["172fe64b.fe605a","15022ad5.698b65"]]},{"id":"172fe64b.fe605a","type":"debug","z":"b04f6033.e870c","name":"dropdown query","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":660,"y":640,"wires":[]},{"id":"c8226118.ec17c","type":"ui_button","z":"b04f6033.e870c","d":true,"name":"","group":"3fdc6031.e1328","order":3,"width":0,"height":0,"passthru":false,"label":"Get GPS Tracks","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":640,"wires":[["5357b87b.207ff8"]]},{"id":"ce288822.7c98f8","type":"ui_button","z":"b04f6033.e870c","name":"","group":"7ec922d.0504bdc","order":4,"width":0,"height":0,"passthru":false,"label":"Clear map & table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":720,"wires":[["512ebbe5.0bb824","797f12c8.3f725c"]]},{"id":"e88d45dd.26d258","type":"change","z":"b04f6033.e870c","name":"","rules":[{"t":"set","p":"payload.layer","pt":"msg","to":"Positions","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":600,"wires":[["e06aafdc.2fafd","84db3a2c.3e19d8"]]},{"id":"4b8ddcdb.0476b4","type":"debug","z":"b04f6033.e870c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":720,"wires":[]},{"id":"512ebbe5.0bb824","type":"function","z":"b04f6033.e870c","name":"Clear map","func":"msg.payload = {command:{clear:\"Tracks\"}, command:{clear:\"Positions\"}};\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":720,"wires":[["4b8ddcdb.0476b4","84db3a2c.3e19d8"]]},{"id":"797f12c8.3f725c","type":"function","z":"b04f6033.e870c","name":"Clear table","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":780,"wires":[["26b68613.4d4f4a"]]},{"id":"950d6d17.91c31","type":"comment","z":"b04f6033.e870c","name":"Get the list of sensors in the Influx Database","info":"","x":230,"y":60,"wires":[]},{"id":"83b86cf4.ebcd2","type":"function","z":"b04f6033.e870c","name":"Device Name List","func":"msg.query = \"SHOW TAG VALUES WITH KEY = devId;\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["f7960bc2.4e6ca8"]]},{"id":"f7960bc2.4e6ca8","type":"influxdb in","z":"b04f6033.e870c","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":630,"y":100,"wires":[["c7896243.b27b4","53ffd2d9.aed6bc"]]},{"id":"c7896243.b27b4","type":"debug","z":"b04f6033.e870c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":160,"wires":[]},{"id":"64db9166.7c26","type":"ui_dropdown","z":"b04f6033.e870c","name":"Device list","label":"","tooltip":"","place":"Select device","group":"62b9c2b5.af9f9c","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1110,"y":100,"wires":[["afd35748.9c1548","d3b66a26.bd1ed8"]]},{"id":"6f2d3799.8ffcd8","type":"debug","z":"b04f6033.e870c","name":"Options","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1100,"y":160,"wires":[]},{"id":"afd35748.9c1548","type":"debug","z":"b04f6033.e870c","name":"Device dropdown","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1320,"y":100,"wires":[]},{"id":"d3b66a26.bd1ed8","type":"change","z":"b04f6033.e870c","name":"","rules":[{"t":"set","p":"deviceName","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":160,"wires":[["73a0af7.b6d925"]]},{"id":"73a0af7.b6d925","type":"function","z":"b04f6033.e870c","name":"Get device EUI from Device Name","func":"var devName = flow.get(\"deviceName\");\n//msg.query = \"SELECT DISTINCT(eui) FROM datapackets WHERE \\\"name\\\" = 'wisent-tracker-test-1';\";\nmsg.query = \"SELECT DISTINCT(eui) FROM datapackets WHERE \\\"name\\\" = '\"+ devName +\"' LIMIT 1\";\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":240,"wires":[["52d84d0d.55b6e4","b219d634.ceab08"]]},{"id":"52d84d0d.55b6e4","type":"influxdb in","z":"b04f6033.e870c","influxdb":"38958189.77f73e","name":"Chirpstack","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":630,"y":240,"wires":[["fa81ad5e.ccfed","6ce1946f.6af42c"]]},{"id":"fa81ad5e.ccfed","type":"debug","z":"b04f6033.e870c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":280,"wires":[]},{"id":"b219d634.ceab08","type":"debug","z":"b04f6033.e870c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"query","targetType":"msg","x":630,"y":280,"wires":[]},{"id":"e9938542.2e2108","type":"ui_text","z":"b04f6033.e870c","group":"62b9c2b5.af9f9c","order":2,"width":0,"height":0,"name":"","label":"Device EUI","format":"{{msg.EUI}}","layout":"row-spread","x":1110,"y":240,"wires":[]},{"id":"6ce1946f.6af42c","type":"change","z":"b04f6033.e870c","name":"Options","rules":[{"t":"set","p":"EUI","pt":"msg","to":"$.payload.distinct","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":240,"wires":[["e9938542.2e2108","393a93c9.6b158c"]]},{"id":"893eb219.10847","type":"comment","z":"b04f6033.e870c","name":"A flow to query and get the device EUI that belongs to the device name","info":"","x":310,"y":200,"wires":[]},{"id":"54566763.be1148","type":"ui_ui_control","z":"b04f6033.e870c","name":"","events":"all","x":120,"y":100,"wires":[["83b86cf4.ebcd2"]]},{"id":"393a93c9.6b158c","type":"change","z":"b04f6033.e870c","name":"","rules":[{"t":"set","p":"EUI","pt":"flow","to":"EUI","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":280,"wires":[[]]},{"id":"ce760f46.67249","type":"change","z":"b04f6033.e870c","name":"Clear flows","rules":[{"t":"delete","p":"EUI","pt":"flow"},{"t":"delete","p":"deviceEUI","pt":"flow"},{"t":"delete","p":"deviceName","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":880,"wires":[[]]},{"id":"428d056c.4137dc","type":"change","z":"b04f6033.e870c","name":"Clear Device EUI","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":920,"wires":[["e9938542.2e2108"]]},{"id":"7ed513e4.ddea2c","type":"ui_ui_control","z":"b04f6033.e870c","name":"","events":"all","x":140,"y":840,"wires":[["ce760f46.67249","428d056c.4137dc","512ebbe5.0bb824","f0683c07.ea356","a6e77f8d.4a9ac"]]},{"id":"3bef3810.327228","type":"comment","z":"b04f6033.e870c","name":"This flow is to query the latest GPS tracks and present them in the UI","info":"","x":320,"y":420,"wires":[]},{"id":"addfb8fc.038f68","type":"comment","z":"b04f6033.e870c","name":"Geolocation service","info":"","x":170,"y":1000,"wires":[]},{"id":"8877b79c.f86e58","type":"debug","z":"b04f6033.e870c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":1120,"wires":[]},{"id":"fda78bb0.2184b8","type":"ui_text","z":"b04f6033.e870c","group":"371e44a5.5f2ecc","order":1,"width":0,"height":0,"name":"Geoloc Location","label":"Geoloc Location","format":"{{msg.location.isat}}","layout":"row-spread","x":360,"y":1040,"wires":[]},{"id":"581f6c5c.46b5d4","type":"ui_text","z":"b04f6033.e870c","group":"371e44a5.5f2ecc","order":2,"width":0,"height":0,"name":"Geoloc Location Distance","label":"Distance to geoloc (meter)","format":"{{msg.location.distances | json}}","layout":"row-spread","x":390,"y":1080,"wires":[]},{"id":"8bd26c5d.49e08","type":"ui_ui_control","z":"b04f6033.e870c","name":"","events":"all","x":140,"y":1160,"wires":[["78576757.bbc5b8"]]},{"id":"78576757.bbc5b8","type":"change","z":"b04f6033.e870c","name":"Clear flows","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1160,"wires":[["fda78bb0.2184b8","581f6c5c.46b5d4"]]},{"id":"f0683c07.ea356","type":"change","z":"b04f6033.e870c","name":"Clear table","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":840,"wires":[["26b68613.4d4f4a"]]},{"id":"bccd846a.2868a8","type":"function","z":"b04f6033.e870c","name":"Add local map","func":"msg.payload = { command : { map : {\n    \"name\": \"Smart Parks\",\n    \"url\": \"https://rhino.jeroendev.nl/public/tiles/{z}/{x}/{y}.png\",   // we will serve the tiles from this node locally.\n    \"opt\": {\n        \"layers\": \"gb\",                         // specifies a layer in your map file\n        \"format\": \"image/png\",\n        \"transparent\": true,\n        \"attribution\": \"© Ordnance Survey, UK\"\n    }\n}}}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":1260,"wires":[["84db3a2c.3e19d8"]]},{"id":"9ea6bfa4.679ca","type":"comment","z":"b04f6033.e870c","name":"Add local map server","info":"","x":180,"y":1220,"wires":[]},{"id":"1a9ff072.cf156","type":"ui_slider","z":"b04f6033.e870c","name":"limit","label":"limit","tooltip":"","group":"3fdc6031.e1328","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"limit","min":"1","max":"100","step":1,"x":1090,"y":340,"wires":[["11e4bb2c.a98905","9cb78d2f.fcd"]]},{"id":"11e4bb2c.a98905","type":"change","z":"b04f6033.e870c","name":"limit","rules":[{"t":"set","p":"limit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":340,"wires":[[]]},{"id":"9cb78d2f.fcd","type":"debug","z":"b04f6033.e870c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1280,"y":420,"wires":[]},{"id":"d82896ab.1fa3a8","type":"function","z":"b04f6033.e870c","name":"Clear tracks","func":"var devName = flow.get(\"deviceName\");\nmsg.payload = { \"name\":devName, \"deleted\":true }\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":680,"wires":[["f47bd5f6.bec578","b974f1fc.1e1b1"]]},{"id":"b974f1fc.1e1b1","type":"debug","z":"b04f6033.e870c","name":"clear tracks","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":680,"wires":[]},{"id":"af2c939d.325c","type":"function","z":"b04f6033.e870c","name":"Set map location","func":"var lat = flow.get(\"lastLat\");\nvar lon = flow.get(\"lastLon\");\nmsg.payload = {command: { \"layer\":\"Smart Parks\", \"lat\":lat, \"lon\":lon, \"zoom\":15 }};\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":920,"wires":[["a69332ab.2321f","84db3a2c.3e19d8"]]},{"id":"a38f2f6c.0afce","type":"function","z":"b04f6033.e870c","name":"Last payload received","func":"msg.payload = msg.payload[0]\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":840,"wires":[["5078beba.658fa","d73b831d.747e4","e7c9fa63.9abb48","ea300fb5.9aad","65f99ad0.9ad9e4","c95ac08d.5cc96","8f626047.f3769","294d4cdf.c25104","4cb7c387.56a5cc","cf4ab956.28ef88","58da8cc.c8e6074","af20185a.0b2668"]]},{"id":"5078beba.658fa","type":"change","z":"b04f6033.e870c","name":"set last location","rules":[{"t":"set","p":"lastLat","pt":"flow","to":"payload.lat","tot":"msg"},{"t":"set","p":"lastLon","pt":"flow","to":"payload.lon","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":840,"wires":[["af2c939d.325c"]]},{"id":"a69332ab.2321f","type":"debug","z":"b04f6033.e870c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1520,"y":920,"wires":[]},{"id":"cfb39c72.e122d","type":"file","z":"b04f6033.e870c","d":true,"name":"","filename":"C:\\Users\\tjvan\\Downloads\\GPS_data.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1400,"y":480,"wires":[[]]},{"id":"3da546a9.ce145a","type":"ui_button","z":"b04f6033.e870c","d":true,"name":"","group":"7ec922d.0504bdc","order":3,"width":0,"height":0,"passthru":false,"label":"Export Data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":1400,"wires":[["e7ffe39d.dfd1f"]]},{"id":"709c4b05.a53564","type":"function","z":"b04f6033.e870c","name":"LAST GPS ALL ","func":"msg.query = \"SELECT *, LAST(lat) FROM datapackets WHERE port = 1 GROUP BY *;\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":380,"wires":[["15022ad5.698b65"]]},{"id":"fa811d6f.75eb6","type":"ui_button","z":"b04f6033.e870c","name":"","group":"7ec922d.0504bdc","order":1,"width":0,"height":0,"passthru":false,"label":"Get GPS Tracks (ALL)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":380,"wires":[["709c4b05.a53564","d82896ab.1fa3a8"]]},{"id":"f4e3b8fe.087388","type":"comment","z":"b04f6033.e870c","name":"Get last GPS location of all known trackers ","info":"","x":240,"y":340,"wires":[]},{"id":"e06aafdc.2fafd","type":"function","z":"b04f6033.e870c","d":true,"name":"bearing, speed, accuracy","func":"msg.payload.bearing = 33;\nmsg.payload.speed = 5;\nmsg.payload.accuracy = 1;\nreturn msg;","outputs":1,"noerr":0,"x":1340,"y":540,"wires":[["84db3a2c.3e19d8"]]},{"id":"9a7f791e.524908","type":"worldmap in","z":"b04f6033.e870c","name":"","path":"/GPSdashboard","events":"","x":160,"y":1260,"wires":[["bccd846a.2868a8"]]},{"id":"2eef96aa.c60aea","type":"function","z":"b04f6033.e870c","name":"Set map to Smart Parks","func":"msg.payload = {command: { \"layer\":\"Smart Parks\" }};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1320,"wires":[["84db3a2c.3e19d8"]]},{"id":"58ad23d9.227f2c","type":"ui_ui_control","z":"b04f6033.e870c","name":"","events":"all","x":640,"y":340,"wires":[["13350ef.e289ff1"]]},{"id":"13350ef.e289ff1","type":"change","z":"b04f6033.e870c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"10","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":340,"wires":[["1a9ff072.cf156"]]},{"id":"d73b831d.747e4","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":5,"width":0,"height":0,"name":"altitude","label":"alttitude","format":"{{msg.payload.alt}}","layout":"row-left","x":1200,"y":1040,"wires":[]},{"id":"e7c9fa63.9abb48","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":6,"width":0,"height":0,"name":"epe","label":"epe","format":"{{msg.payload.epe}}","layout":"row-left","x":1190,"y":1080,"wires":[]},{"id":"ea300fb5.9aad","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":7,"width":0,"height":0,"name":"hdop","label":"hdop","format":"{{msg.payload.hdop}}","layout":"row-left","x":1190,"y":1120,"wires":[]},{"id":"65f99ad0.9ad9e4","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":11,"width":0,"height":0,"name":"motion","label":"motion","format":"{{msg.payload.motion}}","layout":"row-left","x":1190,"y":1160,"wires":[]},{"id":"c95ac08d.5cc96","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":9,"width":0,"height":0,"name":"satellites","label":"satellites","format":"{{msg.payload.satellites}}","layout":"row-left","x":1200,"y":1200,"wires":[]},{"id":"8f626047.f3769","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":10,"width":0,"height":0,"name":"snr","label":"snr","format":"{{msg.payload.snr}}","layout":"row-left","x":1190,"y":1240,"wires":[]},{"id":"294d4cdf.c25104","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":8,"width":0,"height":0,"name":"time_to_fix","label":"time_to_fix","format":"{{msg.payload.time_to_fix}}","layout":"row-left","x":1210,"y":1280,"wires":[]},{"id":"9068946c.ff6f38","type":"debug","z":"b04f6033.e870c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1470,"y":1440,"wires":[]},{"id":"bd0b366.de9e0c8","type":"function","z":"b04f6033.e870c","name":"convert time string to timestamp","func":"msg.payload.timeParsed = Date.parse(msg.payload[0].time)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":1440,"wires":[["760555dc.0478bc","53ad2a51.6627f4","3b37f0cb.a1829"]]},{"id":"df4a8e1.34eca7","type":"comment","z":"b04f6033.e870c","name":"Format and display timestamp of data","info":"https://momentjs.com/docs/#/displaying/format/","x":980,"y":1400,"wires":[]},{"id":"10e0a635.0ddb0a","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":1,"width":0,"height":0,"name":"Last seen","label":"Last seen:","format":"{{msg.payload}}","layout":"row-left","x":1460,"y":1480,"wires":[]},{"id":"a6e77f8d.4a9ac","type":"change","z":"b04f6033.e870c","name":"Clear Last seen","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":960,"wires":[["10e0a635.0ddb0a","2901553e.e4adfa","4cb7c387.56a5cc","cf4ab956.28ef88","af20185a.0b2668","58da8cc.c8e6074","d73b831d.747e4","e7c9fa63.9abb48","ea300fb5.9aad","65f99ad0.9ad9e4","c95ac08d.5cc96","8f626047.f3769","294d4cdf.c25104"]]},{"id":"2901553e.e4adfa","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":2,"width":0,"height":0,"name":"Last seen","label":"Last seen:","format":"{{msg.payload}}","layout":"row-left","x":1460,"y":1520,"wires":[]},{"id":"4cb7c387.56a5cc","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":12,"width":0,"height":0,"name":"fCnt","label":"fCnt","format":"{{msg.payload.fCnt}}","layout":"row-left","x":1190,"y":1320,"wires":[]},{"id":"cf4ab956.28ef88","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":13,"width":0,"height":0,"name":"rssi","label":"rssi","format":"{{msg.payload.rssi}}","layout":"row-left","x":1190,"y":1360,"wires":[]},{"id":"af20185a.0b2668","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":3,"width":0,"height":0,"name":"lat","label":"lat","format":"{{msg.payload.lat}}","layout":"row-left","x":1190,"y":960,"wires":[]},{"id":"58da8cc.c8e6074","type":"ui_text","z":"b04f6033.e870c","group":"958a5d80.c6583","order":4,"width":0,"height":0,"name":"lon","label":"lon","format":"{{msg.payload.lon}}","layout":"row-left","x":1190,"y":1000,"wires":[]},{"id":"37053b3c.1ab8b4","type":"debug","z":"b04f6033.e870c","name":"sort","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":400,"wires":[]},{"id":"6d17a4bf.d1445c","type":"sort","z":"b04f6033.e870c","name":"","order":"ascending","as_num":false,"target":"payload","targetType":"msg","msgKey":"payload","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":830,"y":480,"wires":[["5e72470b.c986a8","37053b3c.1ab8b4"]]},{"id":"b5c59768.2ff298","type":"moment","z":"896bf2ea.746d","name":"Full","topic":"","input":"payload.timeParsed","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"(\"dddd, MMMM Do YYYY, h:mm:ss a\")","locale":"EU/UK","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":1450,"y":920,"wires":[["8670c740.5fbc28","d31e7fe6.107"]]},{"id":"16373754.665fd9","type":"moment","z":"896bf2ea.746d","name":"timeAgo","topic":"","input":"payload.timeParsed","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"timeAgo","locale":"EU/UK","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":1460,"y":960,"wires":[["8670c740.5fbc28","3a9a7fb4.e3bc"]]},{"id":"f6a213d5.bc9b7","type":"moment","z":"896bf2ea.746d","name":"jsDate","topic":"","input":"payload.timeParsed","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"jsDate","locale":"nl_NL","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":1450,"y":1000,"wires":[["8670c740.5fbc28"]]},{"id":"760555dc.0478bc","type":"moment","z":"b04f6033.e870c","name":"Full","topic":"","input":"payload.timeParsed","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"(\"dddd, MMMM Do YYYY, h:mm:ss a\")","locale":"EU/UK","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":1200,"y":1440,"wires":[["9068946c.ff6f38","2901553e.e4adfa"]]},{"id":"53ad2a51.6627f4","type":"moment","z":"b04f6033.e870c","name":"timeAgo","topic":"","input":"payload.timeParsed","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"timeAgo","locale":"EU/UK","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":1210,"y":1480,"wires":[["9068946c.ff6f38","10e0a635.0ddb0a"]]},{"id":"3b37f0cb.a1829","type":"moment","z":"b04f6033.e870c","name":"jsDate","topic":"","input":"payload.timeParsed","inputType":"msg","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"jsDate","locale":"nl_NL","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":1200,"y":1520,"wires":[["9068946c.ff6f38"]]},{"id":"ebe85f5d.b8c3e","type":"geofence","z":"b04f6033.e870c","name":"Fence","mode":"polyline","inside":"both","rad":0,"points":[{"latitude":52.393619910337705,"longitude":4.540067072957754},{"latitude":52.391315273100574,"longitude":4.544186946004629},{"latitude":52.38859145575842,"longitude":4.54590355977416},{"latitude":52.389220043909965,"longitude":4.552770014852285},{"latitude":52.38586747033006,"longitude":4.551740046590567},{"latitude":52.38188595849287,"longitude":4.557919856160879},{"latitude":52.3776945054857,"longitude":4.557919856160879},{"latitude":52.38356242829363,"longitude":4.583669062703848},{"latitude":52.389220043909965,"longitude":4.58435570821166},{"latitude":52.39571493067126,"longitude":4.580922480672598},{"latitude":52.3976003639393,"longitude":4.573026057332754},{"latitude":52.40304671866082,"longitude":4.555173274129629},{"latitude":52.40388455971873,"longitude":4.545216914266348}],"centre":{},"x":130,"y":1040,"wires":[["8877b79c.f86e58","fda78bb0.2184b8","581f6c5c.46b5d4"]]},{"id":"84db3a2c.3e19d8","type":"worldmap","z":"b04f6033.e870c","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"false","showgrid":"false","path":"/worldmap","x":1630,"y":680,"wires":[]},{"id":"93a16a65.6f5e78","type":"function","z":"896bf2ea.746d","name":"Transform options","func":"msg.options = [];\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; \n    let opt = {};\n    opt = row.value; \n    msg.options.push(opt);  \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":120,"wires":[["af3c4a60.c44848","d0ae0adf.1de218"]]},{"id":"e40d8fde.b5e8a","type":"function","z":"a8d01404.c43d58","name":"Transform options","func":"msg.options = [];\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; \n    let opt = {};\n    opt = row.value; \n    msg.options.push(opt);  \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":100,"wires":[["e0193a5c.b0fdc8","846988a8.82f7b8"]]},{"id":"f2afe8b6.697a28","type":"function","z":"20e8a603.85b77a","name":"Transform options","func":"msg.options = [];\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; \n    let opt = {};\n    opt = row.value; \n    msg.options.push(opt);  \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":80,"wires":[["277b0bc6.f3dcc4","1621cadf.41af25"]]},{"id":"53ffd2d9.aed6bc","type":"function","z":"b04f6033.e870c","name":"Transform options","func":"msg.options = [];\nfor(let i = 0; i < msg.payload.length; i++){\n    let row = msg.payload[i]; \n    let opt = {};\n    opt = row.value; \n    msg.options.push(opt);  \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":100,"wires":[["64db9166.7c26","6f2d3799.8ffcd8"]]},{"id":"4b18aeac.5f8ca","type":"function","z":"20e8a603.85b77a","name":"","func":"var bytes = [];\nlet object = msg.payload.object;\nlet fPort = 3;\n//settings\nif (fPort === 3){\n    bytes[0] = (object.system_status_interval) & 0xFF;\n    bytes[1] = (object.system_status_interval)>>8 & 0xFF;\n\n    bytes[2] |= object.system_functions.accelerometer_enabled  ? 1<<3 : 0;\n    bytes[2] |= object.system_functions.light_enabled  ? 1<<4 : 0;\n    bytes[2] |= object.system_functions.temperature_enabled  ? 1<<5 : 0;\n    bytes[2] |= object.system_functions.humidity_enabled  ? 1<<6 : 0;\n    bytes[2] |= object.system_functions.charging_enabled  ? 1<<7 : 0;\n\n    bytes[3] |= (object.lorawan_datarate_adr.datarate) & 0x0F;\n    bytes[3] |= object.lorawan_datarate_adr.confirmed_uplink ? 1<<6 : 0;\n    bytes[3] |= object.lorawan_datarate_adr.adr ? 1<<7 : 0;\n\n    bytes[4] = (object.gps_periodic_interval) & 0xFF;\n    bytes[5] = (object.gps_periodic_interval)>>8 & 0xFF;\n\n    bytes[6] = (object.gps_triggered_interval) & 0xFF;\n    bytes[7] = (object.gps_triggered_interval)>>8 & 0xFF;\n\n    bytes[8] = (object.gps_triggered_threshold) & 0xFF;\n\n    bytes[9] = (object.gps_triggered_duration) & 0xFF;\n\n    bytes[10] = (object.gps_cold_fix_timeout) & 0xFF;\n    bytes[11] = (object.gps_cold_fix_timeout)>>8 & 0xFF;\n\n    bytes[12] = (object.gps_hot_fix_timeout) & 0xFF;\n    bytes[13] = (object.gps_hot_fix_timeout)>>8 & 0xFF;\n\n    bytes[14] = (object.gps_min_fix_time) & 0xFF;\n\n    bytes[15] = (object.gps_min_ehpe) & 0xFF;\n\n    bytes[16] = (object.gps_hot_fix_retry) & 0xFF;\n\n    bytes[17] = (object.gps_cold_fix_retry) & 0xFF;\n    \n    bytes[18] = (object.gps_fail_retry) & 0xFF;\n\n    bytes[19] = object.gps_settings.d3_fix ? 1<<0 : 0;\n    bytes[19] |= object.gps_settings.fail_backoff ? 1<<1 : 0;\n    bytes[19] |= object.gps_settings.hot_fix ? 1<<2 : 0;\n    bytes[19] |= object.gps_settings.fully_resolved ? 1<<3 : 0;\n    bytes[20] = (object.system_voltage_interval) & 0xFF;\n    bytes[21] = ((object.gps_charge_min-2500)/10) & 0xFF;\n    bytes[22] = ((object.system_charge_min-2500)/10) & 0xFF;\n    bytes[23] = ((object.system_charge_max-2500)/10) & 0xFF;\n    bytes[24] = (object.system_input_charge_min) & 0xFF;\n    bytes[25] = (object.system_input_charge_min)>>8 & 0xFF;\n}\nelse if (fPort === 30){\n    bytes[0] = (object.freq_start) & 0xFF;\n    bytes[1] = (object.freq_start)>>8 & 0xFF;\n    bytes[2] = (object.freq_start)>>16 & 0xFF;\n    bytes[3] = (object.freq_start)>>24 & 0xFF;\n\n    bytes[4] = (object.freq_stop) & 0xFF;\n    bytes[5] = (object.freq_stop)>>8 & 0xFF;\n    bytes[6] = (object.freq_stop)>>16 & 0xFF;\n    bytes[7] = (object.freq_stop)>>24 & 0xFF;\n\n    bytes[8] = (object.samples) & 0xFF;\n    bytes[9] = (object.samples)>>8 & 0xFF;\n    bytes[10] = (object.samples)>>16 & 0xFF;\n    bytes[11] = (object.samples)>>24 & 0xFF;\n\n    bytes[12] = (object.power) & 0xFF;\n    bytes[13] = (object.power)>>8 & 0xFF;\n\n    bytes[14] = (object.time) & 0xFF;\n    bytes[15] = (object.time)>>8 & 0xFF;\n\n    bytes[16] = (object.type) & 0xFF;\n    bytes[17] = (object.type)>>8 & 0xFF;\n}\n//command\nelse if (fPort === 99){\n    if(object.command.reset){\n        bytes[0]=0xab;\n    }\n    else if(object.command.lora_rejoin){\n        bytes[0]=0xde;\n    }\n    else if(object.command.send_settings){\n        bytes[0]=0xaa;\n    }\n}\nmsg.payload = bytes;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":620,"wires":[["f1257ae9.c2e298","5b69405d.e22d2"]]},{"id":"f1257ae9.c2e298","type":"debug","z":"20e8a603.85b77a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":600,"wires":[]},{"id":"5b69405d.e22d2","type":"base64","z":"20e8a603.85b77a","name":"","action":"str","property":"payload","x":1190,"y":760,"wires":[["821673c8.0c201"]]},{"id":"821673c8.0c201","type":"debug","z":"20e8a603.85b77a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1400,"y":780,"wires":[]}]